html {
    background-color: rgb(127, 127, 127);
}
body{
	margin:0;
	padding:0;
}
.main{
	width:960px;
	margin:0 auto;
}
.wrapper{
	background: none repeat scroll 0 0 rgb(255, 255, 255);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    float: left;
}
.header{
	float:left;
	width:100%;
}
.head_top{
	float:left;
	width:100%;
}
.logo{
	float:left;
	width:300px;
	margin:10px 0 0 0;
}
.logo a{
	float:left;
	margin:0 0 0 11px;
}
.logo a img{
	border:none;
	width:119px;
}
.logo_navi{
	float: right;
    margin: 6px 30px 0 0;
    width: 500px;
} 
.logo_navi ul{
	margin:0;
	padding:0;
	list-style:none;
	float:right;
}
.logo_navi ul li{
	margin:0;
	padding:0;
	display:inline;
	color:rgb(0, 93, 134);
	font-size:10px;
	font-family:arial;
}
.logo_navi ul li a{
	margin:0;
	padding:0;
	color:rgb(0, 93, 134);
	text-decoration:none;
	font-size:10px;
	font-family:arial;
}
.logo_navi ul li a:hover{
	color:rgb(136, 206, 222);
	text-decoration:none;
}
.main_nav{
	float:left;
	width:100%;
	background:rgb(67, 89, 104);
	margin: 7px 0 0;
}
.main_nav ul{
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	height: 24px;
}
.main_nav ul li{
	display:inline;
	margin:0;
	padding:0;
	line-height:1.52;
	float:left;
	width:160px;
	text-align:center;
}
.main_nav ul li a{
	color: rgb(255, 255, 255);
    float: left;
    font-family: rationale,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 160px;
}
.main_nav ul li:hover{
	background:rgb(153, 153, 153);
}
.main_nav ul li.active{
	background:rgb(153, 153, 153);
}
.main_nav ul li ul{
	background: none repeat scroll 0 0 rgb(255, 255, 255);
    display: none;
    height: auto;
    position: absolute;
    width: 160px;
	margin: 24px 0 0;
}
.main_nav ul li ul li:hover{
	background:rgb(170, 170, 170);
}
.main_nav ul li ul li a{
	color:rgb(0, 93, 134);
	font-size:13px;
}
.main_nav ul li ul li ul li a{
	color:rgb(0, 93, 134);
	font-size:11px;
}
.main_nav ul li:hover ul{
	display:block ;
}
.main_nav ul li ul li ul{
	display:none !important;
	left: 160px;
    position: absolute;
    top: 0;
	margin:0;
}
.main_nav ul li ul li ul li:hover{	
	background:rgb(170, 170, 170);
}
.main_nav ul li ul li:hover ul{
	display:block !important;
}

.slider{
	float:left;
	width:100%;
}
.slider a{
	float:left;
	text-decoration:none;
}
.slider a img{
	border:none;
}
.content{
	float:left;
	width:100%;
}
.stng_standerd{
	float:left;
	width:870px;
	background:#435968;
	padding:21px 45px 20.3px;
	margin-top: 1px;
}
.stng_standerd h3{
	float:left;
	font-size:18px;
	letter-spacing:23px;
	text-align:center;
	width:100%;
	color:#fff;
	font-family:montserrat,sans-serif;
	font-weight: 400;
	line-height: 0.9;
	margin: 0 0 5px;
}
.stng_details{
	float:left;
	margin-left: 85px;
    margin-top: 6px;
    min-height: 80px;
	text-align: center;
    width: 701px;
}
.stng_details p{
	font-size:17px;
	color:#88cede;
	font-family: 'cabin condensed',sans-serif;
	font-weight: 400;
	line-height: 1.64;
	text-align:center;
	margin:0;
}
.app_based{
	float:left;
	padding: 14px 142px 12px;
	width:676px;
	background:#88cede;
	text-align:center;
}
.app_based p{
	color: rgb(67, 89, 104);
    font-family: 'cabin condensed',sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.64;
    min-height: 96px;
	margin:0;
}
.app_based #app_bsd, #dta_fr{
	font-family: cabin-condensed,sans-serif;
    font-weight: 700;
}
.app_icons{
	float: left;
    margin: 0 0 0 50px;
    width: 583px;
}
.ap_based{
	float:left;
	width:194px;
}
.ap_based img{
	margin: 18px 0 0;
}
.ap_based p{
	color: rgb(255, 255, 255);
    font-family: montserrat,sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1.1;
    text-align: center;
	min-height:auto;
}
.dta_fair{
	float:left;
	width:194px;
}
.dta_fair p{
	color: rgb(255, 255, 255);
    font-family: montserrat,sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1.1;
    text-align: center;
	margin:8px 0 0 0;
	min-height:auto;
}
.mpo{
	float:left;
	width:194px;
}
.mpo img{
	margin: 20px 0 0;
}
.mpo p{
	color: rgb(255, 255, 255);
    font-family: montserrat,sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1.1;
    text-align: center;
	min-height:auto;
}
.partners{
	float:left;
	width:670px;
	padding:0 140px 20px 150px;
	margin: 20px 0 0;
}
.amazonsss{
	float:left;
	width:100px;
}
.ebaysss{
	float:left;
	width:110px;
}
.shopzilasss{
	float:left;
	width:120px;
}
.bingsss{
	float:left;
	width:100px;
}
.amazonsss222{
	float:left;
	width:130px;
}
.paypalsss{
	float:left;
	width:110px;
}
.footer{
	float:left;
	width:100%;
	background:#005d86;
	padding:18px 0 10px 0;
}
.shortcuts{
	float:left;
	width:110px;
	margin: 0 0 0 50px;
}
.shortcuts p{
	color:#fff;
	font-family: rationale,sans-serif;
    font-size: 17px;
    font-weight: 400;
	margin:0;
}
.footer_nav{
	float:left;
	margin:7px 0 0 0;
	width:100%;
}
.footer_nav ul{
	float:left;
	margin:0;
	padding:0;
	list-style:none;
}
.footer_nav ul li{
	margin:0;
	padding:0 0 2px 0;
	float:left;
	width:100%;
}
.footer_nav ul li a{
	color: rgb(136, 206, 222);
    font-family: cabin,sans-serif;
    font-size: 10px;
    font-weight: 400;
	float:left;
	text-decoration:none;
	line-height:1.4;
}
.register_update{
	float:left;
	width:250px;
	margin: 0 0 0 50px;
}
.register_update p{
	color:#fff;
	font-family: rationale,sans-serif;
    font-size: 17px;
    font-weight: 400;
	margin:0;
}
.register_update form{
	float:left;
	width:100%;
}
.register_update form p{
	color: rgb(136, 206, 222);
    font-family: cabin,sans-serif;
    font-size: 10px;
    font-weight: 400;
	float:left;
	text-decoration:none;
	line-height:1.4;
}
.register_update form span{
	float:left;
	width:100%;
	margin-top:3px;
}
.register_update form label{
	color: rgb(136, 206, 222);
    font-family: cabin,sans-serif;
    font-size: 10px;
    font-weight: 400;
	float:left;
	text-decoration:none;
	line-height:1.4;
	width:37px;
	margin:4px 0 0 0;
}
.register_update form input{
	border: 1px solid rgb(208, 208, 208);
    color: rgb(127, 127, 127);
    font-family: Georgia,Palatino,Palatino Linotype,Times,Times New Roman,serif;
    font-size: 10px;
    font-style: italic;
    min-height: 10px;
    padding: 6px;
    width: 168px;
}
.register_update form input:hover{
	color: rgb(79, 79, 79);
    font-style:normal;
}
.submit_btn{
	float: right;
    margin: 10px 30px 0 0;
}
.submit_btn input{
	background: url("../images/u450-17.png") no-repeat scroll 0 0 transparent;
    border: medium none !important;
    cursor: pointer;
    float: right;
    height: 23px !important;
    text-indent: -311px;
    width: 58px !important;
}
.social_icons{
	float:left;
	width:185px;
	margin: 0 0 0 15px;
}
.social_icons p{
	color:#fff;
	font-family: rationale,sans-serif;
    font-size: 17px;
    font-weight: 400;
	margin:0;
}
.s_icons{
	float:left;
	margin:8px 0 0 0;
}
.s_icons span{
	float:left;
	width:100%;
	padding:0 0 5px 0;
}
.s_icons a{
	float:left;
}
.s_icons img{
	float:left;
}
.s_icons p{
	float:left;
	color: rgb(136, 206, 222);
    font-family: cabin,sans-serif;
    font-size: 10px;
    font-weight: 400;
	text-decoration:none;
	line-height:1.4;
	margin:5px 0 0 10px;
}
.questions{
	float:left;
	margin:0 0 0 50px;
	width:150px;
}
.questions p{
	color:#fff;
	font-family: rationale,sans-serif;
    font-size: 17px;
    font-weight: 400;
	margin:0;
}
.questions span p{
	float:left;
	color: rgb(136, 206, 222);
    font-family: cabin,sans-serif;
    font-size: 10px;
    font-weight: 400;
	text-decoration:none;
	line-height:1.4;
	margin:5px 0 0 0px;
}
.questions span a{
	color: #fff;
	text-decoration:none;
}
.questions span a:hover{
	color: rgb(247, 147, 30);
	text-decoration:none;
}


/*----------------Home CSS Ends Here---------------*/




/*----------------Different CSS Starts Here---------------*/


.container{
	float:left;
	width:600px;
	padding:0 180px;
}
.container h3{
	color: rgb(0, 93, 134);
    font-family: 'Puritan', sans-serif;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.3;
	margin: 10px 0 0;
}
.container p{
	font-family: abel,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.35;
    padding: 0;
    text-align: justify;
	
}
.container ul{
	font-family: abel,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.35;
    padding: 1;
    text-align: justify;
}
.container h4{
	color: rgb(0, 93, 134);
    font-family: 'Puritan', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.4;
    padding: 0;
	margin: 10px 0 0;
}
.wer_differnt{
	float:left;
	width:100%;
}
.wer_differnt span h4{	
	color: rgb(0, 93, 134);
    font-family: 'Puritan', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.4;
    padding: 0;
	margin: 10px 0 0;
}
.wer_differnt span p{	
}
.wer_differnt span.old_way{
	float:left;
}
.wer_differnt span.old_way p{
	width:50%;
}
.wer_differnt span.old_way img{
	float:right;
}
.wer_differnt span.apps{
	float:left;
}
.wer_differnt span.apps_provide{
	float:left;
}
.wer_differnt span.apps_provide p{
	font-size: 13px; 
	padding-left: 13px;
}
.wer_differnt span.everything{
	float:left;
}
.review_srvcs{
	float:left;
	padding: 0 143px;
	min-height: 88px;
}
.review_srvcs a{
	float:left;
	text-decoration:none;
}
.review_srvcs a h1{
	color:rgb(0, 93, 134);
	font-family: 'Puritan', sans-serif;
    font-size: 23px;
    font-weight: 400;
	line-height: 1.35;
	float:left;
	margin:0;
}
.review_srvcs a h1:hover{
	color: rgb(136, 206, 222);
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.review_srvcs a img{
	float:left;
	margin: 7px 0 0 10px;
	border:none;
}


/*----------------Different CSS Ends Here---------------*/


/*----------------Services CSS Starts Here---------------*/

.services_app{
	float:left;
	width:100%;
}
.services_app h3{
}
.services_app p{
}
.develop_apps{
	float:left;
	width:100%;
}
.develop_apps h3{
	color: rgb(0, 93, 134);
    font-family: 'Puritan', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.4;
    margin: 10px 0 5px;
    padding: 0;
}
.develop_apps p{
	font-family: abel,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.35;
    padding: 0;
    text-align: justify;
	margin:0;
}
.develop_apps span.descrptn{
	float:left;
	width:52.4%;
}
.develop_apps span.descrptn p{
	font-family: abel,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.35;
    padding: 0;
    text-align: justify;
	margin:0;
}
.develop_apps span.des_icons{
	float:right;
}
.develop_apps span.des_icons a{
	float:left;
	margin:0 10px 0 0;
}
.develop_apps span.des_icons a img{
	width:253px;
	border:none;
}
.develop_apps span.learn_here {
	float:left;
	width:100%;
}
.develop_apps span.learn_here img {
	float: left;
    margin: 10px 7px 0 0;
    width: 8px;
}
.develop_apps span.learn_here p {
	color: rgb(241, 90, 36);
    text-decoration: none;
	font-family: 'Puritan', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 2;
    text-align: justify;
	float:left;
}
.develop_apps span.learn_here a {
	color: rgb(241, 90, 36);
    text-decoration: none;
	font-family: 'Puritan', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 2;
    text-align: justify;
	float:left;
}
.develop_apps span.learn_here a:hover{
	color: rgb(136, 206, 222);
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.consultation{
	float:left;
	width:100%;
	padding:0 0 20px 0;
}


/*----------------Services CSS Ends Here---------------*/


/*----------------Building Apps CSS Starts Here---------------*/



.build_apps{
	float:left;
	width:100%;
}
.build_apps h3{
}
.build_apps p{
}
.web_icons{
	float: left;
    padding: 0 100px 20px;
    width: 400px;
}
.icons_img{
	float:left;
}
.icons_img a.design{
	float:left;
	background:url(../images/service_path.png);
	width:102px;
	height:106px;
}
.icons_img span.arrow{
	background: url("../images/service_path.png") repeat scroll 146px 0 transparent;
    float: left;
    height: 106px;
    width: 44px;
}
.icons_img span.arrow1{
	background: url("../images/service_path.png") repeat scroll 145px 0 transparent;
    float: left;
    height: 106px;
    width: 44px;
}
.icons_img a.develop{
	float:left;
	background: url("../images/service_path.png") repeat scroll -145px 0 transparent;
	width:102px;
	height:106px;
}
.icons_img a.test{
	float:left;
	background: url("../images/service_path.png") repeat scroll -290px 0 transparent;
	width:102px;
	height:106px;
}
.icons_name{
	float:left;
}
.icons_name a.design{
	color: rgb(0, 0, 0);
    float: left;
    font-family: cabin,sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    width:106px;
	font-size:13px;
	line-height: 1.2;
}
.icons_name a.design:hover{
	color: rgb(0, 93, 134);
    font-weight: bold;
    text-decoration: none;
}
.icons_name a.develop{
	color: rgb(0, 0, 0);
    float: left;
    font-family: cabin,sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    width: 192px;
	font-size:13px;
	line-height: 1.2;
}
.icons_name a.develop:hover{
	color: rgb(0, 93, 134);
    font-weight: bold;
    text-decoration: none;
}
.icons_name a.test{
	color: rgb(0, 0, 0);
    float: left;
    font-family: cabin,sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    width:82px;
	font-size:13px;
	line-height: 1.2;
}
.icons_name a.test:hover{
	color: rgb(0, 93, 134);
    font-weight: bold;
    text-decoration: none;
}
.process{
	float: left;
    padding: 0 170px 20px;
    width: 340px;
}
.process h1{
	color:rgb(0, 93, 134);
	font-family: 'Puritan', sans-serif;
    font-size: 23px;
    font-weight: 400;
	line-height: 1.35;
	float:left;
	margin:0;
}
.process img{
	margin: 8px 0 0 10px;
}
.process a{
	color: rgb(0, 93, 134);
    float: left;
    font-family: 'Puritan', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.35;
    margin: 3px 0 0;
    text-decoration: none;
}
.process a:hover{
	color: rgb(136, 206, 222);
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}


/*----------------Building Apps CSS Ends Here---------------*/



/*----------------Building Apps Design CSS Starts Here---------------*/



.icons_img a.design_active{
	float:left;
	background:url(../images/service_path_des.png);
	width:102px;
	height:106px;
}
.icons_img a.develop_nonactive{
	float:left;
	background: url("../images/service_path_des.png") repeat scroll -145px 0 transparent;
	width:102px;
	height:106px;
}
.icons_img a.test_nonactive{
	float:left;
	background: url("../images/service_path_des.png") repeat scroll -290px 0 transparent;
	width:102px;
	height:106px;
}
.icons_img span.arrow1_nonactive{
	background: url("../images/service_path_des.png") repeat scroll 145px 0 transparent;
    float: left;
    height: 106px;
    width: 44px;
}
.developer_take{
	float: left;
    padding: 0 165px 20px;
    width: 340px;
}
.developer_take h1{
	color:rgb(0, 93, 134);
	font-family: 'Puritan', sans-serif;
    font-size: 23px;
    font-weight: 400;
	line-height: 1.35;
	float:left;
	margin:0;
}
.developer_take img{
	margin: 8px 0 0 10px;
}
.developer_take a{
    text-decoration: none;
	color:rgb(0, 93, 134);
}
.developer_take a:hover{
	color: rgb(136, 206, 222);
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}


/*----------------Building Apps Design CSS Ends Here---------------*/



/*----------------Building Apps Development CSS Starts Here---------------*/



.icons_img a.design_nonactive{
	float:left;
	background:url(../images/service_path_dev.png);
	width:102px;
	height:106px;
}
.icons_img a.develop_active{
	float:left;
	background: url("../images/service_path_dev.png") repeat scroll -145px 0 transparent;
	width:102px;
	height:106px;
}
.icons_img a.test_nonactive{
	float:left;
	background: url("../images/service_path_dev.png") repeat scroll -290px 0 transparent;
	width:102px;
	height:106px;
}
.icons_img span.arrow_nonactive{
	background: url("../images/service_path_dev.png") repeat scroll 286px 0 transparent;
    float: left;
    height: 106px;
    width: 44px;
}

.test_app{
	float: left;
    padding: 0 185px 20px;
    width: 340px;
}
.test_app h1{
	color:rgb(0, 93, 134);
	font-family: 'Puritan', sans-serif;
    font-size: 23px;
    font-weight: 400;
	line-height: 1.35;
	float:left;
	margin:0;
}
.test_app img{
	margin: 8px 0 0 10px;
}
.test_app a{
    text-decoration: none;
	color:rgb(0, 93, 134);
}
.test_app a:hover{
	color: rgb(136, 206, 222);
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
/*----------------Building Apps Development CSS Ends Here---------------*/



/*----------------Building Apps Testing CSS Starts Here---------------*/



.icons_img a.design_nonactive{
	float:left;
	background:url(../images/service_path_tes.png);
	width:102px;
	height:106px;
}
.icons_img a.develop_nonactive{
	float:left;
	background: url("../images/service_path_tes.png") repeat scroll -145px 0 transparent;
	width:102px;
	height:106px;
}
.icons_img a.test_active{
	float:left;
	background: url("../images/service_path_tes.png") repeat scroll -286px 0 transparent;
	width:102px;
	height:106px;
}
.icons_img span.arrow_nonactive{
	background: url("../images/service_path_tes.png") repeat scroll 286px 0 transparent;
    float: left;
    height: 106px;
    width: 44px;
}
.icons_img span.arrow1_nonactive{
	background: url("../images/service_path_tes.png") repeat scroll 286px 0 transparent;
    float: left;
    height: 106px;
    width: 44px;
}
.build_apps p a{
	color: rgb(241, 90, 36);
    text-decoration: none;
}
.build_apps p a:hover{
	color: rgb(136, 206, 222);
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.qoutes{
	float:left;
	width:100%;
	text-align:center;
	padding: 0 0 15px;
}
.qoutes h1{
	color: rgb(241, 90, 36);
    font-size: 19px;
	font-family: 'Puritan', sans-serif;
    font-style: italic;
    font-weight: 400;
	margin:0;
}
.qoutes p{
	color: rgb(127, 127, 127);
    font-family: 'Puritan', sans-serif;
    font-style: italic;
    font-weight: 400;
	font-size: 13px;
	margin:0;
	text-align:center;
	float:none;
}

/*----------------Building Apps Testing CSS Ends Here---------------*/



/*----------------Live Training CSS Starts Here---------------*/


.live_support{
	float:left;
	width:100%;
	min-height:285px;
}
.live_support span p{	
}

.live_support span.live training{
	float:left;
}
.live_support span.live sched {
	width:50%;
}
.live_support span.usa based {
	width:50%;
}
.live_support span.support list {
	width:50%;
}

/*----------------Live Training CSS Ends Here---------------*/



/*----------------Marketing Development CSS Starts Here---------------*/


.market_develop{
	float:left;
	width:100%;
	min-height:285px;
}



/*----------------Marketing Development CSS Ends Here---------------*/



/*----------------Marketplace Optimization CSS Starts Here---------------*/


.market_optimztn{
	float:left;
	width:100%;
	min-height:285px;
}



/*----------------Marketplace Optimization CSS Ends Here---------------*/



/*----------------Features Main CSS Starts Here---------------*/

.features_main{
	float:left;
	width:100%;
	padding: 0 0 15px;
}
.features_main h3{
}
.features_main p{
}
.features_main h4{
	color: rgb(0, 93, 134);
    font-family: 'Puritan', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.4;
    padding: 0;
	margin:0;
	float:left;
}
.feature_head{
	float:left;
	margin: 15px 0 0;
}
.feature_head h4{
	color: rgb(0, 93, 134);
    font-family: 'Puritan', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.4;
    padding: 0;
	margin:0;
}
.feature_head span.nonblock{
	width:100%;
	float:left;
}
.feature_head span.nonblock a{
	float:left;
    padding: 0;
	margin:0;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 11px;
    font-style: italic;
	color: #F15A24;
    text-decoration: none;
}
.feature_head span.nonblock a:hover{
	color: rgb(136, 206, 222);
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.feature_head ul{
	float:left;
    padding: 0;
	margin:0 0 0 14px;
}
.feature_head ul li{
	float:left;
    padding: 0;
	margin:0;
	font-size: 11px;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	line-height: 1.2;
    text-align: left;
	width:100%;
}
.feature_head p{
	float:left;
    padding: 0;
	margin:0;
	font-size: 11px;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	line-height: 1.2;
    text-align: left;
}


/*----------------Features Main CSS Ends Here---------------*/



/*----------------Features Amazon CSS Starts Here---------------*/


.feature_amazon{
	float:left;
	width:100%;
	min-height:285px;
}



/*----------------Features Amazon CSS Ends Here---------------*/



/*----------------Features Ebay CSS Starts Here---------------*/


.feature_ebay{
	float:left;
	width:100%;
	min-height:285px;
}



/*----------------Features Marketplace Ebay CSS Ends Here---------------*/



/*----------------Features Order Management CSS Starts Here---------------*/


.order_manage{
	float:left;
	width:100%;
	padding: 0 0 15px;
}
.order_manage h3{
}
.order_manage p{
}
.order_head {
	float:left;
	margin: 15px 0 0;
}
.order_head h4{
	color: rgb(0, 93, 134);
    font-family: 'Puritan', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.4;
    padding: 0;
	margin:0;
}
.order_head ul{
	float:left;
    padding: 0;
	margin:0 0 0 14px;
}
.order_head ul li{
	float:left;
    padding: 0;
	margin:0;
	font-family: abel,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.35;
    text-align: justify;
	width:100%;
}


/*----------------Features Order Management CSS Ends Here---------------*/



/*----------------Features Marketplaces, Comparison Shopping CSS Starts Here---------------*/


.feature_market{
	float:left;
	width:100%;
	padding: 0 0 15px;
}
.feature_market h3{
}
.feature_market p{
}


/*----------------Features Marketplaces, Comparison Shopping CSS Ends Here---------------*/



/*----------------Features Multiple Stores, Wholesale functionality CSS Starts Here---------------*/


.multistores{
	float:left;
	width:100%;
	padding: 0 0 15px;
}
.multistores h3{
}
.multistores h4{
	color: rgb(0, 93, 134);
    font-family: 'Puritan', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.4;
    padding: 0;
	margin:0;
}
.multistores p{
}


/*----------------Features Multiple, Wholesale functionality Stores CSS Ends Here---------------*/



/*----------------Clients CSS Starts Here---------------*/


.clients_main{
	float:left;
	width:100%;
	min-height:285px;
}



/*----------------Clients CSS Ends Here---------------*/


/*----------------News Events CSS Starts Here---------------*/


.news_events{
	float:left;
	width:100%;
	min-height:285px;
}



/*----------------News Events CSS Ends Here---------------*/



/*----------------Our Partnerships CSS Starts Here---------------*/

.container_partner{
	float:left;
	width:760px;
	padding:0 100px;
}
.container_partner h3{
	color: rgb(0, 93, 134);
    font-family: 'Puritan', sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.3;
	margin: 10px 0 0;
}
.container_partner p{
	font-family: abel,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.35;
    padding: 0;
    text-align: justify;
	float:left;
}
.partners_head{
	float:left;
	width:100%;
	padding: 0 0 15px;
}
.partners_head h3{
}
.partners_head p{
}
.our_partners{
	float: left;
    padding: 0 0 30px;
}
.amazon_payments{
	float:left;
	width:135px;
}
.authorized{
	float:left;
	width:130px;
	text-align:center;
}
.bings_two{
	float:left;
	width:110px;
	text-align:center;
}
.buy_safe{
	float:left;
	width:100px;
	text-align:center;
}
.dymo_encidia{
	float:left;
	width:140px;
	text-align:center;
}
.feed_exx{
	float:left;
	width:135px;
	text-align:center;
}

/*----------------Our Partnerships CSS Ends Here---------------*/



/*----------------About Zoovy and Company CSS Starts Here---------------*/


.abt_zoovy_head{
	float:left;
	width:100%;
}
.abt_zoovy_head h3{
	float:left;
	width:100%;
	padding: 0 0 15px;
}
.mission_stmnt{
	float:left;
	width:100%;
	padding: 0 0 30px;
}
.mission_stmnt_img{
	float:left;
	width:220px;
}
.mission_stmnt_des{
	float:left;
	width:540px;
}
.mission_stmnt_des h4{
	color: rgb(0, 93, 134);
    font-family: 'Puritan', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    padding: 0;
	margin: 10px 0 0;
}
.mission_stmnt_des h5{
	color: rgb(0, 93, 134);
    font-family: 'Puritan', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.4;
    padding: 0;
	margin: 10px 0 0;
}
.mission_stmnt_des p{
	font-family: abel,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.35;
    padding: 0;
    text-align: justify;
	float:left;
}

/*----------------About Zoovy and Company CSS Ends Here---------------*/



/*----------------About Zoovy and Company CSS Ends Here---------------*/


.zoovy_mangmnt{
	float:left;
	width:100%;
	padding:0 0 30px 0;
}
.zoovy_mangmnt_profile{
	float:left;
	width:150px;
}
.zoovy_mangmnt_profile img{
	border:1px solid #000;
}
.zoovy_mangmnt_des{
	float:left;
	width:600px;
}
.zoovy_mangmnt_des h4{
	color: rgb(0, 93, 134);
    font-family: 'Puritan', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.4;
    padding: 0;
	margin:0;
}
.zoovy_mangmnt_des p{
	font-family: abel,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.35;
    padding: 0;
    text-align: justify;
	margin:10px 0 0 0;
}
.zoovy_mangmnt_des h4.mr_brain{
	font-size: 12px;
    font-weight: bold;
	margin: 0;
    padding: 0;
	line-height: 1.4;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	color:#000;
}
.zoovy_mangmnt_des p.mr_brain{
	font-size: 11px;
    font-weight: normal;
	margin: 15px 0 0;
    padding: 0;
	line-height: 1.4;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}


/*----------------About Zoovy and Company CSS Ends Here---------------*/



/*----------------Zoovy Contact CSS Ends Here---------------*/


.contact_details{
	float:left;
	width:100%;
	padding:0 0 30px 0;
}
.contacts{
	float:left;
	width:100%;
	margin: 0;
    padding: 0;
	line-height: 1.56;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	color:#000;
	font-size: 12px;
}
.contacts h4{
    font-weight: bold;
	float:left;
	width:100%;
	margin: 30px 0 2px;
}
.contacts span{
	width:100%;
	float:left;
}
.contacts span label{
    font-weight: normal;
	width:140px;
	float:left;
}
.contacts span p{
    margin: 0;
    padding: 0;
	line-height: 1.56;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	color:#000;
	font-size: 12px;
}
.contacts span a{
    color: rgb(0, 93, 134);
    text-decoration: none;
}
.contacts span a:hover{
    color: rgb(136, 206, 222);
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}


/*----------------Zoovy Contact CSS Ends Here---------------*/



/*----------------Zoovy Employments CSS Starts Here---------------*/


.employments{
	float:left;
	width:100%;
	min-height:285px;
}



/*----------------Zoovy Employments CSS Ends Here---------------*/









#content {
	background: white;
}