.r1 { color:#333333; background-color: #F0F0F0; font-size: 8pt; }
.r0 { color:#333333; background-color: #FFFFFF; font-size: 8pt; }
.rx { color:#333333; background-color: #FFCC66; font-size: 8pt; }
.rs { color:#333333; background-color: #FFCCCC; font-size: 8pt; }

/* used for all input boxes */
input { font-size: 8pt; font-family: sans-serif, helvetica, arial; }	

body	{font-size:9pt; color:#000000; font-family:Arial, Helvetica, sans-serif; background-color:#FFFFFF}

div.tab		{border:1px solid #0066FF; padding:2px 8px 2px 8px; margin-left:3px; float:left; font-size:8pt; border-bottom:0px;background-color:#FFFFFF;}
div.tab_on	{background-color:#0066FF;}

.tab a	{text-decoration:none;}
.tab_on a	{color:#ffffff; font-weight:bold;}

a	{ color:#0066FF;}
a:hover	{color:#FF9933;}

/* use this class to use literal "scripts" that operators should speak */
.say	{background-color:#F8ECAC; padding:10px; border-left:3px solid #F8A471;}

/* use this to indicate a required input field */
.alert	{background-color:#E8B2B2; border:2px dotted #A22323; padding:10px;}

/* use this to indicate an optional input field */

/* use this to indicate a hint to the operator */
.hint	{font-size:8pt; background-color:#C4E6AD; border-left:2px solid #8CA47B; padding:10px;}

/* not sure what this is for */
.actions {margin: 2px; width:auto; display:inline; text-align:left; border: 1px outset #0066FF;  padding:3px 8px 3px 8px; background-color: #E3F0F8; font-weight:bold;}
