<%args>
$title
$menu
$meta_keywords => 'turnkey ecommerce, turnkey ecommerce websites, ecommerce turnkey, ecommerce solution, e-commerce, ecommerce, e-commerce solution'
$meta_description => ''
## nav is a pipe separated field where spot 0 = main tab and spot 1 = pagename. 
$nav => ''
</%args>


<%perl>

## id is used for the div id as well as the icon src

my @products_nav = (
	{ pretty=>"Overview", link=>"/howitworks/", pagename=>"overview"},
	{ pretty=>"Complete Package", link=>"/complete/", pagename=>"complete"},
	{ pretty=>"Webstores", link=>"/howitworks/multiple_online_stores.html", pagename=>"webstore"},
	{ pretty=>"Inventory", link=>"/howitworks/inventory_control.html", pagename=>"inventory"},
	{ pretty=>"Accounting", link=>"/howitworks/accounting.html", pagename=>"accounting"},
	{ pretty=>"Order Processing", link=>"/howitworks/order-processing.html", pagename=>"orderprocess"},
	{ pretty=>"Shipping", link=>"/howitworks/shipping_tracking.html", pagename=>"shipping"},
	{ pretty=>"Wholesale", link=>"/howitworks/wholesale.html", pagename=>"wholesale"}
	);

my @services_nav = (
	{ pretty=>"Graphic Design", link=>"/howitworks/design/", pagename=>"gfx"},
	{ pretty=>"Marketing", link=>"/howitworks/marketing/", pagename=>"mkt"},
	{ pretty=>"Marketplaces", link=>"/services/marketplaces.html", pagename=>"marketplace"},
	{ pretty=>"Comparison Shopping", link=>"/services/comparison-shopping-sites.html", pagename=>"comparisonshop"},
#	{ pretty=>"Technical Support", link=>"/services/technical-support.html", pagename=>"tech"},
	{ pretty=>"Live Training &amp; Support", link=>"/services/live-training-and-tech-support.html", pagename=>"imp"},
	{ pretty=>"Hosting", link=>"/services/hosting.html", pagename=>"hosting"},
#	{ pretty=>"Domain Registration", link=>"/services/domain-registration.html", pagename=>"domainreg"}
	{ pretty=>"Marketplace Optimization", link=>"/services/marketplaceoptimization.html", pagename=>"mpo"}
	);
	
my @clients_nav = (
	{ pretty=>"Case Studies", link=>"/complete/", pagename=>"casestudy"},
	{ pretty=>"Clients", link=>"/complete/", pagename=>"client"},
	{ pretty=>"Testimonials", link=>"/complete/", pagename=>"testimonial"}
	);

my @company_nav = (
	{ pretty=>"Company", link=>"/company/", pagename=>"company"},
	{ pretty=>"Management", link=>"/company/management/", pagename=>"management"},
	{ pretty=>"Employment", link=>"/company/employment/", pagename=>"employment"},
	);

my @news_nav = (
	{ pretty=>"News &amp; Events", link=>"/company/events/", pagename=>"events"},
	{ pretty=>"Press Releases", link=>"/company/pressreleases/", pagename=>"pressrelease"},
	{ pretty=>"In the News", link=>"/company/news/", pagename=>"znews"}
	);

</%perl>

<html>

<!-- BEGIN /includes/header-20120217 (technically, it starts above the doctype, but we want that first ) -->


<head>
<&| /includes/track.html &></&>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<meta name="verify-v1" content="aA7HWK2Dw+bMEHlbp0D5uJh2YoHgxv0gB3N2ZplTL6U=" />
<meta name="google-site-verification" content="u_9mA-KVIsm6QyYyaT_qejrnuuyILC0X3ErXN-8kY3k" />
<meta name="google-site-verification" content="NUB7fyH23AICi6ZvZslxKbY5ZjNyy_KYQawGY3OHFcQ" /><!-- for google apps -->
<meta name="description" content="<%perl>
print $meta_description;
</%perl>" />
<meta name="keywords" content="<%perl>
print $meta_keywords;
</%perl>" />

<title><% $title %></title>

<script type="text/javascript" src="<% $::BASE %>/biz/ajax/jquery-1.6.4/jquery-1.6.4.js"></script>
<script type="text/javascript" src="<% $::BASE %>/biz/ajax/jquery-ui-1.8.16/js/jquery-ui-1.8.16.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="<% $::BASE %>/biz/ajax/jquery-ui-1.8.16/css/smoothness/jquery-ui-1.8.16.custom.css" />

<link rel="stylesheet" type="text/css" href="<% $::BASE %>/includes/header-20120217/styles-20120217.css" />

<link rel="stylesheet" type="text/css" href="//static.zoovy.com/graphics/general/jslib/magiczoomplus-2.0.8/magiczoomplus.css" />
<script type='text/javascript' src='//static.zoovy.com/graphics/general/jslib/magiczoomplus-2.0.8/magiczoomplus.js'></script>
<script type='text/javascript'>
MagicThumb.options = {
	'background-color':'#000000',
	'background-opacity':'50'
	}
</script>

<style>
/* rotator in-page placement */
div.rotator {
	position:absolute;
	height:280px;
	margin-left: 0px;
	margin-top: 0px;
}
/* rotator css */
	div.rotator ul li {
	float:left;
	position:absolute;
	list-style: none;
}
/* rotator image style */	
	div.rotator ul li img {
	border:0px solid #000000;
	padding: 0px;
	background: #000000;
}
div.rotator ul li.show {
	z-index:500;
}
</style>


</head>

<!-- begin body -->
<body>

<%perl>

## menu and title are required parameters.
if ($menu eq '') {
	print "<h1>NO \$MENU SET</h1>";
	}
if ($title eq '') {
	print "<h1>NO \$TITLE SET</h1>";
	}

</%perl>

<!-- begin body -->

% #print $q->cookie('ZOOVY_LEAD');




<div align='center'>



<div style='background:url(<% $::BASE %>/includes/header-20120217/images/body_bg_horgrad-1435x268.jpg) no-repeat center 149px ;'>
	<div style='background:url(<% $::BASE %>/includes/header-20120217/images/body_bg_horgrad-1x268.jpg) repeat-x 0 149px ;'>
		<div style='width:984px;'>

<div style='background:url(<% $::BASE %>/includes/header-20120217/images/edges-984x1.gif) repeat-y;'>
<table cellspacing='0' cellpadding='0' width='948'>
<tr>
	<td colspan='2'>
	<div style='height:123px; position:relative;'>

<div style='float:left; margin-left:32px; margin-top:32px;'><a href='/index.html'><img src='<% $::BASE %>/includes/header-20120217/images/zoovy_logo-217x61.png' width='217' height='61' alt='Zoovy.com - success driven ecommerce technology' border='0' /></a></div>


<div style='float:right; margin-right:37px; margin-top:32px; text-align:right'>
	<div style='font-size:12px;'>

<A href='/company/contact/' class='menu'>Contact</A> | 

<A HREF="#" onClick="if(document.getElementById('loginForm').style.display == 'block'){document.getElementById('loginForm').style.display = 'none'} else {document.getElementById('loginForm').style.display = 'block'}; return false;" class='menu'>Customer Login</A>

	</div>
	<div style='margin-top:7px;'>
		<div style='float:right; margin-left:2px; font-size:14px; font-weight:bold; color:#333333;'>1.877.966.8948</div>
		<div style='float:right;'><img src="<% $::BASE %>/includes/header-20120217/images/phone_number-21x22.gif"></div>
	</div>

</div>


<div id='loginForm' style='display:none; position:absolute; top:52px; right:37px; background:#efefef;' class='border'>
<form target="_top" METHOD="post" name="FrmLogin" ACTION="https://www.zoovy.com/login/index.cgi" >
<input type="hidden" name="authenticate" value="true" />
<table cellspacing='3' cellpadding='0'>
<tr>
	<td class='small'>Username:</td>
	<td style='padding-right:5px;'><input value="" type="text" NAME="login" size="15" maxlength="45" class='formed' /></td>
	<td class='small'>Password:</td>
	<td style='padding-right:5px;'><input type="password" NAME="password" size="15" maxlength="25" class='formed' /></td>
	<td><input type='submit' class='button' value=' login ' /></td>
</tr>
<tr>
	<td align='right' class='small' colspan='7'><A href='/recover/'>lost password?</A> | <A href='https://www.zoovy.com/login/'>secure login</A> | <A href='#' onClick="document.getElementById('loginForm').style.display = 'block'; return false;">cancel</A></td>
</tr>
</table>
</form>
</div>

	</div>
	</td>
</tr>


<!-- main navigation -->
<tr>
	<td colspan='2' style='background:url(<% $::BASE %>/includes/header-20120217/images/menu_bg-1x32.gif) repeat-x; height:32px;' align='left'>
	<div style='position:relative; height:32px; '>
		
		<div style='position:absolute; left:-18px; top:0;'><img src="<% $::BASE %>/includes/header-20120217/images/menu_endcap_left-18x32.jpg" width='18' height='32' alt='' /></div>
		
		<div style='position:absolute; right:-18px; top:0;'><img src="<% $::BASE %>/includes/header-20120217/images/menu_endcap_right-18x32.jpg" width='18' height='32' alt='' /></div>
		
		<div style='margin-left:37px;'>

<img src='<% $::BASE %>/includes/header-20120217/images/mainnav-674x32.png' width='674' height='32' alt='' usemap='#mainMenuMap' />
		
<map name="mainMenuMap">
	<area shape="rect" coords="5,1,92,31" href='/howitworks/' title='Products' alt='Products'>
	<area shape="rect" coords="105,1,187,31" href='/services/' title='Services' alt='Services'>
	<area shape="rect" coords="200,1,293,31" href='/compatible-integration-review/' title='Partners' alt='Partners'>
	<area shape="rect" coords="303,1,384,31" href='/clients/' title='Clients' alt='Clients'>
	<area shape="rect" coords="395,1,524,31"  href='/company/' title='about zoovy' alt='About Zoovy'>
	<area shape="rect" coords="533,1,669,31" href='/company/events/' title='News and Events' alt='News and Events'>
</map>

		</div>
	
	</div>
	</td>

</tr>
<!-- /main navigation -->

<%perl>
## The big banner, which is tightly coupled with the aethetic of the nav, only appears on the homepage.
if ($menu eq "home") {
	print(qq~<tr>
	<td colspan='2'>
	<div style='position:relative; height:270px;'>

<div style='position:absolute; left:-18px; top:0; width:18px;'><img src='/includes/header-20120217/images/home_bannerleft-18x326.jpg' width='18' height='326' alt='' /></div>

<!-- right side image is taller because it covers the upper right corner of the free trial form -->
<div style='position:absolute; right:-18px; top:0; z-index:1000;'><img src='/includes/header-20120217/images/home_bannerright-18x350.jpg' width='18' height='350' alt='' /></div>

<!-- 
slides for the rotator. To add or remove slides, update slideshow-20110629.js file

## NOTE - the absolute positioning on each slide is required in order for the zindex to get adjusted in the slideshow script.

 -->

<!--
 
<div id='slideshowContainer' style='position:absolute; left:0px; top:0; width:948px; height:280px; z-index:1000; overflow:hidden;'>

	<div style='display:block; position:absolute; left:0px; top:0; z-index:1;' id='slide1'><div>
	<a href='/services/marketplaceoptimization.html'><img src='/includes/header-20120217/images/marketplace_optimization-950x280.jpg' width='950' height='280' alt='' id='SlideShow' name='SlideShow' /></a>
	</div></div>

	<div style='display:none; position:absolute; left:0px; top:0;' id='slide2'><div>
	<a href='/services/'><img src='/includes/header-20120217/images/design-and-marketing-950x280.jpg' width='950' height='280' alt='' /></a>
	</div></div>
	
	<div style='display:none; position:absolute; left:0px; top:0;' id='slide3'><div>
	<a href='/complete/'><img src='/includes/header-20120217/images/ecommerce-management-950x280.jpg' width='950' height='280' alt='' /></a>
	</div></div>
	
	<div style='display:none; position:absolute; left:0px; top:0;' id='slide4'><div>
	<a href='/services/live-training-and-tech-support.html'><img src='/includes/header-20120217/images/usa-based-support-950x280.jpg' width='950' height='280' alt='' /></a>
	</div></div>

	<div style='display:block; position:absolute; left:0px; top:0;' id='slide5'><div>
	<a href='/compatible-integration-review/'><img src='/includes/header-20120217/images/built-in-integrations-950x280.jpg' width='950' height='280' alt='' /></a>
	</div></div>

</div>

-->


<div class="rotator" style='position:absolute; left:0px; top:0; width:948px; height:280px; z-index:1000; overflow:hidden;'>
<ul style='position:absolute; margin-top:0px; left:0px; top:0; width:948px; height:280px; z-index:1000;'>
	<li style='margin-top:0px; position:absolute; left:0px; top:0px;'  class="show">
	<a href='/services/marketplaceoptimization.html'><img src='/includes/header-20120217/images/marketplace_optimization-950x280.jpg' width='950' height='280' alt='' id='SlideShow' name='SlideShow' /></a>
    </li>
    <li style='margin-top:0px; position:absolute; left:0px; top:0px;' >
	<a href='/services/'><img src='/includes/header-20120217/images/design-and-marketing-950x280.jpg' width='950' height='280' alt='' /></a>
    </li>
    <li style='margin-top:0px; position:absolute; left:0px; top:0px;' >
	<a href='/complete/'><img src='/includes/header-20120217/images/ecommerce-management-950x280.jpg' width='950' height='280' alt='' /></a>
    </li>
    <li style='margin-top:0px; position:absolute; left:0px; top:0px;' >
	<a href='/services/live-training-and-tech-support.html'><img src='/includes/header-20120217/images/usa-based-support-950x280.jpg' width='950' height='280' alt='' /></a>
	</li>
	<li>
	<a href='/compatible-integration-review/'><img src='/includes/header-20120217/images/built-in-integrations-950x280.jpg' width='950' height='280' alt='' /></a>
	</li>
</ul>
</div>


<script type="text/javascript">

// www.alohatechsupport.net/webdesignmaui/maui-web-site-design/easy_jquery_auto_image_rotator.html

function theRotator() {
	//Set the opacity of all images to 0
	\$('div.rotator ul li').css({opacity: 0.0});
	
	//Get the first image and display it (gets set to full opacity)
	\$('div.rotator ul li:first').css({opacity: 1.0});
		
	//Call the rotator function to run the slideshow, 6000 = change to next image after 6 seconds
	
	setInterval('rotate()',1500);
	
}

function rotate() {	
	//Get the first image
	var current = (\$('div.rotator ul li.show')?  \$('div.rotator ul li.show') : \$('div.rotator ul li:first'));

    if ( current.length == 0 ) current = \$('div.rotator ul li:first');

	//Get next image, when it reaches the end, rotate it back to the first image
	var next = ((current.next().length) ? ((current.next().hasClass('show')) ? \$('div.rotator ul li:first') :current.next()) : \$('div.rotator ul li:first'));
	
	//Un-comment the 3 lines below to get the images in random order
	
	//var sibs = current.siblings();
        //var rndNum = Math.floor(Math.random() * sibs.length );
        //var next = \$( sibs[ rndNum ] );
			

	//Set the fade in effect for the next image, the show class has higher z-index
	next.css({opacity: 0.0})
	.addClass('show')
	.animate({opacity: 1.0}, 1000);

	//Hide the current image
	current.animate({opacity: 0.0}, 1000)
	.removeClass('show');
	
};



\$(document).ready(function() {		
	//Load the slideshow
	theRotator();
	\$('div.rotator').fadeIn(1000);
    \$('div.rotator ul li').fadeIn(1000); // tweek for IE
});
</script>

	</div>
	</td>
</tr>
<tr>
	<td style='background:url(/includes/header-20120217/images/news_n_social_bg-1x56.gif) repeat-x bottom; height:56px;' colspan='2'>
	<div style='padding-top:15px; padding-right:20px;'>

<div style='float:right; margin-left:5px;'><a href='http://www.facebook.com/pages/Zoovy-e-Commerce/99488342473/' target='facebook'><img src='//static.zoovy.com/graphics/general/socialb_logos/simple-32x32/facebook-32x32.png' width='25' height='25' alt='friend us on facebook' /></a></div>

<div style='float:right; margin-left:5px;'><a href='http://twitter.com/zoovyinc' target='twitter'><img src='//static.zoovy.com/graphics/general/socialb_logos/simple-32x32/twitter-32x32.png' width='25' height='25' alt='follow us on twitter' /></a></div>

<div style='float:right; margin-left:5px; line-height:25px;'>More News: </div>
	</div>
	</td>
</tr>~);
	}
## sublinks, which appear everywhere after the homepage. When no MENU is set, a blank black bar is displayed, for aesthetic reasons.
else{
	print("

<tr>
	<td colspan='2' style='background:url(/includes/header-20120217/images/menu_sublinks_bg-1x28.gif) repeat-x; height:24px;' valign='top'>
	<div style='position:relative; height:24px;'>

		<div style='position:absolute; left:-18px; top:0;'><img src='/includes/header-20120217/images/submenu_endcap_left-18x32.gif' width='18' height='32' alt='' /></div>
	
		<div style='position:absolute; right:-18px; top:0;'><img src='/includes/header-20120217/images/submenu_endcap_right-18x32.gif' width='18' height='32' alt='' /></div>
<!-- the width needs to be specified on this div because otherwise IE 7 blows chunks. there's a shocker -->	
		<div style='position:absolute; left:37px; top:0px; height:24px; width:905px;' id='subcats'>");
	my @focus_nav;
	my @navdata = split('\|', $nav);

	my $i = 0;
## rather than load 256 million background images, we load 1 image and only show a portion of it
## using css. should be faster because the extra code for it is minimal.
	my $infocus; ## changes between on and off to set whether the on or off values are set for hover/bg image
	print("
<!--
focusTab = $navdata[0]
focusPage = $navdata[1]
-->
");
	
	if($navdata[0] eq 'products'){
		@focus_nav = @products_nav;
		}
	elsif($navdata[0] eq 'services'){
		@focus_nav = @services_nav;
		}
	elsif($navdata[0] eq 'clients'){
		@focus_nav = @clients_nav;
		}
	elsif($navdata[0] eq 'company'){
		@focus_nav = @company_nav;
		}
	elsif($navdata[0] eq 'news'){
		@focus_nav = @news_nav;
		}
	else{
## no nav is in focus. output a blank bar.
	}


##loop through the array of pages and output the link and icon for each.
	foreach my $navref (@focus_nav) {
		if($navdata[1] eq $navref->{'pagename'}){
			$infocus = 'on';
			}
		else	{
			$infocus = 'off'
			}
		print("<div class='submenu_$infocus submenu_$navref->{'pagename'}'></div>");
		print("<div class='catlink_$infocus' style='float:left;'><a href=\"$navref->{'link'}\">$navref->{'pretty'}</a></div>");

		$i++;
		}

		print("</div>
		
	</div>
	</td>
</tr>
<!-- shading for grey horizontal bar beneath nav -->
<tr>
	<td style='background:#7f7f7f; height:4px;'></td>
	<td style='background:#787879; height:4px;'></td>
</tr>");
	}
</%perl>

<tr>
	<td align='left' valign='top'>
	<div id='content' style='position:relative; margin:0 37px;'>


% # print Dumper(\%ENV);




<!-- END /includes/header-20120217 -->