% my $menu = 'register';

<&| /includes/header/index.html, title => 'Zoovy - Create Account', menu => $menu &></&>
% ## Do not touch anything above this line except for the value of the title var.

<br>
<br>


<%perl>

use CGI;
use ZTOOLKIT;
use DBINFO;

## create a persistant handle
my $q = new CGI;
my $PACKAGE = $q->param('PACKAGE');
if ($PACKAGE eq '') { $PACKAGE = 'ONE'; }

## Source Tracking, pass source= or set cookie ZOOVY_LEAD
## see /httpd/htdocs/track.cgi for more info on how the ZOOVY_LEAD cookie is formatted
##
my $SOURCE = undef;
if (not defined $SOURCE) { $SOURCE = $q->cookie('ZOOVY_LEAD'); }
#if (lc($SOURCE) eq 'msol') {
#	$PACKAGE = 'MSOL';
#	}
	
if ( (not defined $SOURCE) && (defined $q->cookie('ZOOVY_AFFILIATE')) ) { 
	$SOURCE = "WEB|".$q->cookie('ZOOVY_AFFILIATE');  ## the ZOOVY_AFFILIATE cookie predated the ZOOVY_LEAD so we reformat it.
	} 
if (not defined $SOURCE) { 
	$SOURCE = $q->param('ZOOVY_LEAD'); 
	}
if (not defined $SOURCE) { 
	$SOURCE = $q->param('source'); 
	}
if (not defined $SOURCE) { 
	$SOURCE = 'UWEB'; 
	}  ## UWEB - undefined web.  That way if blank is set elsewhere from 
## some other lead source, we at least know this came in from the web.
my ($src,$opid,$meta) = split(/\|/,$SOURCE,3); 

my $ACTION = $q->param('ACTION');
$ACTION =~ s/[^A-Z\-]+//g;

my $company = $q->param('company');
$company =~ s/^http\:\/\///g;
$company =~ s/[\<\>\"\']+//gs;

my $firstname = $q->param('firstname'); 	$firstname =~ s/[\"\>\<]+//gs;
my $lastname = $q->param('lastname');  $lastname =~ s/[\"\>\<]+//gs;
my $phone = $q->param('phone');  $phone =~ s/[\"\>\<]+//gs; $phone =~ s/[^\d]+//gs;
my $email = $q->param('email'); if (not defined $email) { $email = ''; } $email =~ s/[\"\>\<]+//gs;
my $url = $q->param('url'); if (not defined $url) { $url = ''; }  $url =~ s/[\"\>\<]+//gs;
my $leadid = int($q->param('leadid'));

my $code = substr(reverse($leadid),0,3);
#print "CODE: $code<br>\n";

my @errors = ();
if ($ACTION eq 'VERIFY') {
	my $usercode = $q->param('usercode');

	if ($usercode eq '***') {
		$usercode = $code;
		}
	
	if ($usercode ne $code) {
		print "Sorry, but $usercode is not the proper activation code, please try again<br>";
		$ACTION = 'CALLME';
		}
	else {
		my ($dbh) = &DBINFO::db_zoovy_connect();
		my $pstmt = "update LEADS set PHONE_VERIFIED=1 where ID=".int($leadid);
		$dbh->do($pstmt);
		&DBINFO::db_zoovy_close();
		$ACTION = 'CREATE';
		}
	}


if ($ACTION eq 'CREATE') {
</%perl>
<form action="/register/index.html">
<input type="hidden" name="ACTION" value="CREATE-TYPE">
<input type="hidden" name="leadid" value="<% $leadid %>">
<h1>Please select the type of free trial account:</h1>
<br>

<!-- pricing and PDF links removed per christy on 6/30/2010. -->

<input checked type="radio" name="PACKAGE" value="BASIC"> <b>Basic:</b>
Our do-it-yourself solution for budget conscious growing businesses. <!--
that starts from $39/mo. 
&nbsp;&nbsp; <a target="_pricing" 
onClick="javascript:pageTracker._trackPageview('/pdf/zoovy_basic_monthly_pricing.pdf');"
href="/pdf/zoovy_basic_monthly_pricing.pdf">
<img border=0 src="/biz/images/pdficon_small.gif"> Basic Pricing Overview</a> -->
</p>
<p> <input type="radio" name="PACKAGE" value="COMPLETE"> <b>Complete:</b> 
Our comprehensive "Do It For Me" offering which offers superior value for
high volume retailers. <!--  Starting at $750/mo. 

&nbsp;&nbsp; <a target="_pricing"
onClick="javascript:pageTracker._trackPageview('/pdf/zoovy_complete_pricing.pdf');"
 href="/pdf/zoovy_complete_pricing.pdf">
<img border=0 src="/biz/images/pdficon_small.gif"> Zoovy Complete Pricing Overview</a>-->
</p>
<br>
<input type="submit" value=" Create Account "><br>
<br>
<i>Not all functionality is available in all packages.
If you need assistance selecting an account type, please contact our
business development department at </i><b>877-966-8948</b>.<br>
<br>
</form>
<%perl>
	}



if ($ACTION eq 'CREATE-TYPE') {
	##
	## ACTUALLY CREATE A USER AND LET THEM LOGIN
	##
	
	## some fool told msol accounts they could have an extra 4 days.
	my $DAYS = ($::SRC eq 'MSOL')?14:14;

	# print STDERR "LEADID'=>$leadid,'PACKAGE'=>$PACKAGE,'DURATION'=>$DAYS\n";
	
	require ZSETUP;
	my ($result) = &ZSETUP::createuser('LEADID'=>$leadid,'PACKAGE'=>$PACKAGE,'DURATION'=>$DAYS);

	if (defined $result->{'@errors'}) {
		print join("<li> ERROR: ",@{$result->{'@errors'}});
		print "<hr>";
		}

</%perl>
Your account has been created. An email has been sent.<br>
<br>
<table>
	<tr>
		<td><b>Username:</b></td>
		<td><b><% $result->{'USERNAME'} %></b></td>
	</tr>
	<tr>
		<td><b>Password:</b></td>
		<td><b><% ($result->{'PASSWORD'} eq '')?'**Check your Email**':$result->{'PASSWORD'} %></b></td>
	</tr>
</table>
<i>Please write down this information.</i><br>
<br>

<a href="http://www.zoovy.com/login/index.cgi?authenticate=1&login=<% $result->{'USERNAME'} %>&password=<% $result->{'PASSWORD'} %>">
<b>Click Here to Login</b>
</a>

<br>
<br>

<%perl>

	my ($dbh) = &DBINFO::db_zoovy_connect();
	my $pstmt = "update LEADS set PROCESSED_GMT=0,ASSIGN_MID=".int($result->{'ASSIGN_MID'}).",ASSIGN_USERNAME=".$dbh->quote($result->{'USERNAME'}).",PHONE_VERIFIED=1 where ID=".int($leadid);
	$dbh->do($pstmt);
	&DBINFO::db_zoovy_close();

	}


if ($ACTION eq 'CALLME') {
	## 
	## MAKE OUTBOUND CALL
	##
	my $dbh = &DBINFO::db_zoovy_connect();
	my $pstmt = "update LEADS set PHONE_ATTEMPTS=PHONE_ATTEMPTS+1,PHONE_NUMBER=".$dbh->quote($phone)." where ID=".int($leadid);
	print STDERR $pstmt."\n";
	$dbh->do($pstmt);
	&DBINFO::db_zoovy_close();
	
	my $vcode = $code;
	$vcode =~ s/([\d])/$1\. /g;  ## change 1234 to 1. 2. 3. 4.

	my $xml = qq~<campaign menuid="34896-873760401" username="zoovy" password="password1" action="0"><prompts><prompt promptid="2" tts="$vcode" /></prompts><phonenumbers><phonenumber number="$phone" callid="Zoovy, Inc." callerid="8779668948" /></phonenumbers></campaign>~;
	print STDERR $xml;

   use LWP::UserAgent; my $ua = LWP::UserAgent->new; $ua->timeout(10); $ua->env_proxy;   
   
   require HTTP::Headers;
   my $h = HTTP::Headers->new;
   $h->header('Content-Type'=>'text/xml');
   $h->header('Content-Length'=>length($xml));
   
	my $request = HTTP::Request->new('POST','http://api.voiceshot.com/ivrapi.asp',$h); 
	$request->content($xml);
 	my $response = $ua->request($request);

	if (not $response->is_success()) {
		use Data::Dumper;
		print STDERR Dumper($response);
		&ZOOVY::confess("billing",Dumper($response),justkidding=>1);
		}

</%perl>

<br>
<h3>We are attempting to call you.</h3>
<i>An automated call will be placed to you within 60 seconds, 
be prepared to receive a 3 digit verification code. 
</i><br>
<form action="/register/index.html">
<input type="hidden" name="ACTION" value="VERIFY">
<input type="hidden" name="leadid" value="<% $leadid %>">
Phone Number: <input type="textbox" name="phone" value="<% $phone %>"><input type="submit" value=" Try Again ">
<br>
<br>
<h3>Please provide the verification code:</h3>
Verification Code: <input type="textbox" name="usercode" size="3" maxlength="3" value=""><br>
<input type="submit" value=" Select Account Type ">
</form>
<br>

 
<%perl>
 	 }  
 




 if ($ACTION eq 'SAVE') { 
	 if (!defined($phone)) { $ACTION = ''; }
 	 elsif ($company =~ /<.*?>/) { push @errors, "Sorry, no HTML allowed in company name"; }
 	 elsif ($url =~ /<.*?>/) { push @errors, "Sorry, no HTML allowed in URL"; }
 	 elsif ($firstname =~ /<.*?>/) { push @errors, "Sorry, no HTML allowed in Firstname"; }
 	 elsif ($lastname =~ /<.*?>/) { push @errors, "Sorry, no HTML allowed in Lastname"; }
 	 elsif ($firstname =~ /[\d]+/) { push @errors, "Sorry, numbers are not allowed in your first name"; }
 	 elsif ($lastname =~ /[\d]+/) { push @errors, "Sorry, numbers are not allowed in your last name"; }
	 elsif ($phone =~ /^0/) {
		push @errors, "Sorry, Zoovy does not provide services for non US Businesses at this time.";
		}
	 elsif ( 
		($phone =~ /^[1]+$/) || ($phone =~ /^[2]+$/) || ($phone =~ /^[3]+$/) || 
		($phone =~ /^[1]+$/) || ($phone =~ /^[2]+$/) || ($phone =~ /^[3]+$/) || 
		($phone =~ /^[1]+$/) || ($phone =~ /^[2]+$/) || ($phone =~ /^[3]+$/)) {
		push @errors, "Wow! Thats a pretty amazing phone number, are you sure it's correct? (Try again)";
		}
	 elsif ($phone =~ /5551212$/) {
		push @errors, "Please supply a valid phone number.";
		}
 	elsif (not &ZTOOLKIT::validate_phone($phone,'')) {
		push @errors, "Phone number missing or invalid.";
 		}
	 if ($firstname eq '' || $lastname eq '') {
		push @errors, "Please supply a first and last name.";
		} 
	 if ($email eq '') {
		push @errors, 'Please supply a valid email address.';
		} 
 	elsif (!&ZTOOLKIT::validate_email($email)) {
		push @errors, 'Email address appears invalid. Please try again.';
		} 
 	else {
		# email okay
		}

	if (scalar(@errors)>0) { $ACTION = ''; }
 	}



 if ($ACTION eq 'SAVE') {
	# only reached if @errors is empty

	my $dbh = &DBINFO::db_zoovy_connect();
	if (not defined $opid) { $opid = 'NONE'; }
	if (not defined $src) { $src = 'WEB'; }
	if (not defined $firstname) { $firstname = ''; }
	if (not defined $lastname) { $lastname = ''; }
	if (not defined $meta) { $meta = ''; }
	if (not defined $phone) { $phone = ''; }
	if (not defined $url) { $url = ''; }
	if (not defined $email) { $email = ''; }
	my $ipaddress = $ENV{'REMOTE_ADDR'};

	my $pstmt = DBINFO::insert($dbh,'LEADS',{ 
 		SRC=>$src,OPERATORID=>$opid,CREATED=>&ZTOOLKIT::mysql_from_unixtime(time()),
 		COMPANY_NAME=>$company,CONTACT_FIRSTNAME=>$firstname,CONTACT_LASTNAME=>$lastname,
		META=>$meta,
		IPADDRESS=>$ipaddress,
		PHONE_NUMBER=>$phone,WEBSITE=>$url,EMAIL=>$email},debug=>2);
	print STDERR $pstmt."\n";

	if ($phone eq '13 255 645 135') { $pstmt = ''; }

	if ($pstmt ne '') {
		$dbh->do($pstmt);
		}

  my ($leadid) = &DBINFO::last_insert_id($dbh);

  ## NOTIFY SALESFORCE:
  require LWP::Simple;
  require ZTOOLKIT;
  my %foo = ();
  $foo{'encoding'} = 'UTF-8';
  # $foo{'oid'} = '00D80000000cL3u';
  $foo{'oid'} = '00DA0000000Z19B';
  $foo{'retURL'} = 'http://www.zoovy.com/thanks!';
  $foo{'first_name'} = $firstname;
  $foo{'last_name'} = $lastname;
  $foo{'email'} = $email;
  $foo{'company'} = $company;
  $foo{'phone'} = $phone;
  $foo{'URL'} = $url;
  $foo{'lead_source'} = 'site-zoovy.com';
  #$foo{'00N80000003Pyp7'} = "$meta|$opid";
  ### Correlation Data:
  #$foo{'00N80000003Pyp6'} = '';
  ### CorrelationID:
  #$foo{'00N80000003Pyp5'} = "LEAD-$leadid";
  # WebSource?!
  $foo{'00NA0000003BOfp'} = "$meta|$opid";
  ## Correlation Data:
  $foo{'00NA0000003BOfo'} = '';
  ## CorrelationID:
  $foo{'00NA0000003BOfn'} = "LEAD-$leadid";

  ## send to salesforce
  my $paramstr = &ZTOOLKIT::buildparams(\%foo);
  LWP::Simple::get("https://www.salesforce.com/servlet/servlet.WebToLead?$paramstr");
  
  
  &DBINFO::db_zoovy_close();
</%perl>
	
<h1>Regrettably, we need to verify you're actually human before we can let you access pricing, 
and start setting up your store.</h1><br>

<h2>Approach #1: Automated Phone Verification</h2>
<p>Our automated system will call you within about 30 seconds, available 24/7/365.</p>
<form action="/register/index.html">
<input type="hidden" name="ACTION" value="CALLME">
<input type="hidden" name="leadid" value="<% $leadid %>">
Phone: <input size="13" type="textbox" name="phone" value="<% $phone %>"><br>
<input type="submit" value=" Phone Verify: Call Me ">
</form>

<br>
<br>
<h2>Approach #2: Talk to a Live Person</h2>
<p>You can call toll free right now: 877.966.8948 and ask for the verification pin.</p>
<br>

<!-- Google Code for lead Conversion Page -->
<script language="JavaScript" type="text/javascript">
<!--
var google_conversion_id = 1072354289;
var google_conversion_language = "en_US";
var google_conversion_format = "1";
var google_conversion_color = "FFFFFF";
if (1) {
	var google_conversion_value = 1;
	}
var google_conversion_label = "lead";
//-->
</script>
<script language="JavaScript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<img height=1 width=1 border=0 src="//www.googleadservices.com/pagead/conversion/1072354289/imp.gif?value=1&label=lead&script=0">
</noscript>


% 	}


% if ($ACTION eq '') {

<h1>Try before you Buy!</h1>
<p>
<b>To instantly access the system and view online pricing: </b> 
please register to receive instant access, with  
% ## msol accounts get 14 days instead of 10
% print (($::SRC eq 'MSOL')?14:14);
-days of complimentary access to assist in your evaluation. 
No credit card or billing information will be requested during this registration process.
</p>

%	if (scalar(@errors)>0) {
%		print "<font color='red'><b>Some required information was missing:</b></font><br>"; 
%		foreach my $err (@errors) { print "<li> <font color='red'>$err</font>"; }
%	   }
%	else{


%	}
<table width='100%'>
<tr>
	<td valign='top'>
<form action="/register/index.html">
	<input type="hidden" name="ACTION" value="SAVE">
<table>
	<tr>
		<td>First Name</td>
		<td><input type="text" value="<% $firstname %>" name="firstname" class="formed"></td>
		<td></td>
	</tr>
	<tr>
		<td>Last Name</td>
		<td><input type="text" value="<% $lastname %>" name="lastname" class="formed"></td>
		<td></td>
	</tr>
	<tr>
		<td>Email:</td>
		<td><input type="text" value="<% $email %>" name="email" class="formed"></td>
		<td></td>
	</tr>
	<tr>
		<td>Phone #:</td>
		<td><input type="text" value="<% $phone %>" name="phone" class="formed"></td>
		<td></td>
	</tr>
	<tr>
		<td>Company:</td>
		<td><input type="text" value="<% $company %>" name="company" class="formed"></td>
		<td><span class='small'>optional</span></td>
	</tr>
	<tr>
		<td>URL/Domain:</td>
		<td><input type="text" value="<% $url %>" name="url" class="formed"></td>
		<td><span class='small'>optional</span></td>
	</tr>
	<tr>
		<td colspan='3' align='right' style='padding-right:35px;'><input type="submit" value="Next" style='font-size:8pt;'></td>
	</tr>
</table>
</form></td>
	<td valign='top' align="right"></td>
</tr>
</table>

If you have any questions or require assistance during your evaluation
please call us toll free at <strong>1.877.966.8948 ext. 2</strong>
% }

% # Do not touch anything below this line.
<&| /includes/footer/index.html, menu => $menu &></&>

<!-- end of page -->