<&| /includes/header/index.html, title => 'Turnkey Ecommerce Websites | Complete E-commerce Solution | Zoovy', menu => 'home' &></&>
% ## Do not touch anything above this line.


<table cellspacing='0' cellpadding='0'>
<tr>
	<td>
    <!-- Start Headline banner and click thru -->
    	<div id="top banner" style="width:774px; height:80px; background-image:url(includes/homepage-20100503/20100503_slab_1.gif); background-repeat:no-repeat; margin-bottom:34px; margin-top:10px">
        	<div id="headline" style="margin-left:29px; margin-top:9px; width:450px; float:left; line-height:35px"><a href="/complete" style="font-size:35px; font-family:Arial, Helvetica, sans-serif; color:#999999; text-decoration:none">Discover Zoovy Complete</a><br />
       	      <a href="/complete" style="font-size:28px; font-family:Arial, Helvetica, sans-serif; color:#000000; text-decoration:none">The turn-key eCommerce platform</a></div>
       	<div id="clickthru" style="float:left"><a href="/contact/index.html" target="_self"><img src="includes/homepage-20100503/spacer.gif" alt="click for pricing" width="247" height="80px" border="0"/></a></div>
        </div>
     <!-- End Headline banner and click thru -->
        
        
	<!-- Start tabs and rotating main banner -->  
    
    <script type="text/javascript">
var current_banner = 1;
var total_banners = 4;
var wait = 17000;

function banner_init()	{
	elements = document.getElementById('banners').getElementsByTagName('div');
	for (var i = 0; i < total_banners; i++) 	{ 
		elements[i].onmouseover = function ()	{
				clearTimeout(wait);
		}
		elements[i].onmouseout = function ()	{
				clearTimeout(wait);
				wait = setTimeout('nextBanner()',bannertime);
		}       
	}
//set navigation

	elements = document.getElementById('banners').getElementsByTagName('ul')[0].getElementsByTagName('li');
	total_banners = elements.length;
	for (var i = 0; i < elements.length; i++) 	{
		elements[i].title = i + 1;
		elements[i].onmouseover = function () 	{
			banner(this.title);
			clearTimeout(wait);
			}
		elements[i].onmouseout = function () {
			clearTimeout(wait);
			wait = setTimeout('nextBanner()',bannertime);
			}
		}
	wait = setTimeout('nextBanner()',bannertime);
	}


function banner(nr)
{
        clearTimeout(wait);
        elements = document.getElementById('banners').getElementsByTagName('div');
        //hide all divs
        for (var i = 0; i < elements.length; i++) 
        { 
                if (nr == (i + 1))
                {
                        //show selected banner  
                        elements[i].style.display = "block";
                } else
                {       //hide everything else
                        elements[i].style.display = "none";     
                }
        }
        wait = setTimeout('nextBanner()',bannertime);
}


function nextBanner() 
{

        if(current_banner < total_banners) 
        {
                current_banner ++; 
        }

        else
        {       current_banner = 1;
        }

        banner(current_banner);
}


</script>
<div style="width:774px; height:317px;">
      <div id="banners" class='bannertabs'>
		<ul>
            <li><a href="/complete/">Product</a></li>
            <li><a href="/howitworks/marketing/index.html">Marketing</a></li>
            <li><a href="/howitworks/design/index.html/">Design</a></li>
            <li><a href="/compatible-integration-review/">Integrated Partners</a></li>
            <li><a href="/howitworks/inventory_control.html">Why it works</a></li>
		</ul>
		
        <div id="banner1" onClick='window.location.href="/complete/"' style="cursor:pointer; background-image:url(includes/homepage-20100503/20100503_slab_2a.jpg); width:774px; height:303px;"></div>
        <div id="banner2" onClick='window.location.href="/howitworks/marketing/"' style="cursor:pointer; background-image:url(includes/homepage-20100503/20100503_slab_2b.jpg); width:774px; height:303px;"></div>
        <div id="banner3" onClick='window.location.href="/howitworks/design/"' style="cursor:pointer; background-image:url(includes/homepage-20100503/20100503_slab_2c.jpg); width:774px; height:303px;"></div>
        <div id="banner4" onClick='window.location.href="/compatible-integration-review/"' style="cursor:pointer; background-image:url(includes/homepage-20100503/20100503_slab_2d.jpg); width:774px; height:303px;"></div>
        <div id="banner5" onClick='window.location.href="/howitworks/inventory_control.html"' style="cursor:pointer; background-image:url(includes/homepage-20100503/20100503_slab_2e.jpg); width:774px; height:303px;"></div>
        </div>
    </div>
        <script type="text/javascript">
		bannertime = wait;
		banner_init();
		</script>
	<!-- End tabs and rotating main banner --> 
    
<!-- Begin shadow slab -->
<div id="promotion_banner" style="background-image:url(includes/homepage-20100503/shadow.jpg); height:24px; width:774px; margin-left:0px"></div>
<!-- End shadow slab -->


<!-- Begin Zoovy info slab
<div id="promotion_banner" style="margin-bottom:5px; margin-top:20px; "><img src="includes/homepage-20100503/20100503_slab_info.gif" /></div>
End Zoovy info slab -->

<!-- Begin Bottom Row banners and features -->
<div id="bottom_row" style="width:774px; height:147px; margin-bottom:5px; margin-top:10px; margin-left:6px; background-image:url(includes/homepage-20100503/20100503_slab_3.gif); background-repeat:no-repeat">



<script type="text/javascript">
// Begin Slide Show for promtional banners

// Set slideShowSpeed (milliseconds)
var slideShowSpeed = 10000

// Duration of crossfade (seconds)
var crossFadeDuration = 3

// Specify the image files
var Pic = new Array() // don't touch this
var Link = new Array() // please touch me.

// WHOA- REMEMBER TO CHANGE THE LINK BELOW!
Pic[0] = '<% $::BASE %>/includes/homepage-20100503/banners/20100503_banner_irc.jpg'
Link[0] = 'http://www.zoovy.com/?irc';
Pic[1] = '<% $::BASE %>/includes/homepage-20100503/banners/20100503_banner_tiki.jpg'
Link[1] = 'https://www.zoovy.com/pdfs/casestudy_tikimaster.pdf';
Pic[2] = '<% $::BASE %>/includes/homepage-20100503/banners/20100503_banner_cubworld.jpg'
Link[2] = 'http://www.cubworld.com';

// =======================================
// do not edit anything below this line
// =======================================

var t
var j = 0
var p = Pic.length

var preLoad = new Array()
for (i = 0; i < p; i++){
   preLoad[i] = new Image()
   preLoad[i].src = Pic[i]
}

function runSlideShow(){
   if (document.all){
      document.images.SlideShow.style.filter="blendTrans(duration=2)"
      document.images.SlideShow.style.filter="blendTrans(duration=crossFadeDuration)"
      document.images.SlideShow.filters.blendTrans.Apply()      
   }
   document.images.SlideShow.src = preLoad[j].src
   // document.links.SlideShowLink.href = Link[j];
   document.getElementById("SlideShowLink").href = Link[j];
   if (document.all){
      document.images.SlideShow.filters.blendTrans.Play()
   }
   j = j + 1
   if (j > (p-1)) j=0
   t = setTimeout('runSlideShow()', slideShowSpeed)
}

</script>

<div id="promotion_banner" style="margin-top:3px; width:460px; float:left">
<!-- AND YOU MUST CHANGE THIS LINK TOO!!! -->
<a id="SlideShowLink" href="http://www.zoovy.com/?irc" target="_blank">
<img src="<% $::BASE %>/includes/homepage-20100503/banners/20100503_banner_irc.jpg" name='SlideShow' id='SlideShow' width="460" height="136" border="0"/>
</a>
</div>

<script type="text/javascript">
runSlideShow();
</script>

<div id="news_feed" style="margin-left:10px; margin-top:30px; width:258px; height:102px; float:right; margin-right:20px; overflow:auto;">

<&| /includes/pressreleases.html, xml=>0 &></&>
<%perl>

use CGI;
use ZTOOLKIT;
use DBINFO;
use Lingua::EN::Summarize;

my (@AR) = get_press();
@AR = reverse sort @AR;
@AR = splice(@AR,0,10);

my $year = '';
foreach my $link (reverse sort @AR) {
	my ($date,$type,$link,$title,$body) = split(/\|/,$link);

	print "<div class=\"newsfeed_title\"><a href=\"/company/pressreleases/$link\">$date $title</a></div>\n";
	print "<div class=\"newsfeed_body\">$body <a href=\"/company/pressreleases/$link\">learn more</a></div>\n";
	}

</%perl>

</div>
<!-- End Bottom Row banners and features -->
</div></tr>
</table>

<map name="MapHomepage">
<area shape="rect" coords="3,4,225,127" href="/register/" alt='register new account'>
	<area shape="rect" coords="3,129,225,197" href="/complete/" alt='Zoovy Web Stores SELL'>
	<area shape="rect" coords="5,203,223,273" href="/howitworks/marketing.html" alt='Marketing Management'>
	<area shape="rect" coords="4,280,226,342" href="/howitworks/syndication.html" alt='Multi Channel Exposure'>
	<area shape="rect" coords="5,349,222,414" href="/howitworks/multiple_online_stores.html" alt='Run multiple stores from one account'>
	<area shape="rect" coords="4,424,225,495" href="/howitworks/shipping_tracking.html" alt='Integrate your retail world'>
</map>


% # Do not touch anything below this line.
<&| /includes/footer/index.html, menu => 'home' &></&>

<!-- end of page -->
