#content {
	background: white;
	margin: 0 auto;
    width: 960px;
}

.slider {
	height: 376px;
}

.old_way p {
	float: left;
}

.clear {
	clear: both;
}

#springContainer {
	width: 100%;
	height: 300px;
	overflow: visible;
	display: block;
}

#springCanvas {
	width: 100%;
	height: 100%;
	background: grey;
	position: relative;
	overflow: hidden;
	display: block;
}

#springReactor {
	height: 100%;
	width: 100px;
	background: red;
	position: absolute;
	left: 429px;
}