<%args>
$divID => "videoTestimonial";
$merchant => "wallsthatspeak";
</%args>

<div style="float:left; margin-left:5px;"><span style='text-transform:capitalize;'><% $merchant %></span> Video Testimonial</div>
<div style="float:right;"><a href='#' onClick="new Effect.Shrink('<% $divID %>'); return false;"><img src='http://static.zoovy.com/graphics/wrappers/evolution/close_button-16x16.gif' height="16" width="16" alt='close pane' border='0' /></a></div>
<div>
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="240" height="180" id="videotestimonial" align="middle">
<param name="allowScriptAccess" value="sameDomain" />
<param name="movie" value="/images/flash/video_testimonials/<% $merchant %>.swf" />
<param name="quality" value="high" />
<param name="bgcolor" value="#ffffff" />
<embed src="/images/flash/video_testimonials/<% $merchant %>.swf" quality="high" bgcolor="#ffffff" width="240" height="180" name="videotestimonial" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
</object>
</div>