<!-- SETUP_TAB -->

<br>
<center>
<table class='zoovytable' cellspacing=0 width="500">
<tr><td colspan=3 class='zoovytableheader'>eBay Store Profiles</td></tr>
<!-- PROFILES -->
</table>

<br>
<table class='zoovytable' cellspacing=0 width="500">
<tr><td colspan=3 class='zoovytableheader'>Usage</td></tr>
<tr><td>
<b>Update Now</b>: informs the system to please re-attempt syndication as soon as possible (normally within an hour).<br>
<b>Check Status</b>: updates the status to determine how many listings are live, waiting, failed.<br>
</td></tr>
</table>

<br>
<center>
<a href="/biz/syndication"><img border=0 src="/images/bizbuttons/exit.gif"></a>
</center>

<br>
</center>
</body>
