td {  font-family: "Trebuchet MS", Verdana, Arial, sans-serif; font-size: 13px; color: #666666}
.headline {  font-family: "Trebuchet MS", Verdana, Arial, sans-serif; font-size: 16px; font-weight:bold; color: #FFFFFF}
a:link {  color: #7349A5; text-decoration: underline}
a:active {  color: #000000; text-decoration: none}
a:visited {  color: #7349A5; text-decoration: underline}
a:hover {  color: #666666; text-decoration: underline}
.sidelite {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #999999}
.siderite { font-family: "Trebuchet MS", Verdana, Arial, sans-serif; font-size: 12px; color: #666666}
.tdjust { font-family: "Trebuchet MS", Verdana, Arial, sans-serif; font-size: 13px; color: #333333}
.headlinelt { font-family: "Trebuchet MS", Verdana, Arial, sans-serif; font-size: 16px; color: #999999}
ol {  font-size: 13px; color: #333333; font-family: "Trebuchet MS", Verdana, Arial, sans-serif}
ul {  font-size: 13px; color: #333333}
.hdlbold {  font-family: "Trebuchet MS", Verdana, Arial, sans-serif; font-size: 13px; color: #FFFFFF; font-weight: bolder}
.sidedark {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #333333}
.unnamed1 {  background-color: #FFFFFF; background-image: url(../images/topbkg.gif); background-repeat: repeat-x}
.companyname { font-family: "Trebuchet MS", Verdana, Arial, sans-serif; font-size: 36px; color: #CCCCCC; font-weight: 800}
.searchstyle {  height: 20px; width: 50px}
