<!-- round corners top -->
<div class="round-corners-container">
  <div class="n">
    <div class="e">
      <div class="w">
        <img src="/biz/ebay/catchooser2008/images/s.gif" width="1px" height="1px" />
      </div>
    </div>
  </div><!-- round corners top end-->
