[%- INSERT '_round_corners_top.tt2' %]
[% FOREACH key = param.keys %]
<p>[% key %] - [% param.$key %]</p>
[% END %]

<p></p>
[%- FOREACH cs = custom_specifics.keys  %]
<p>
  [% cs %] - [%- FOREACH cs_value = custom_specifics.$cs %][% cs_value %] -[%- END %]


</p>
[%- END %]
[%- INSERT '_round_corners_bottom.tt2' %]
