[%- page_title = 'Search with eBay Product Finder' -%]

[%- INSERT '_round_corners_top.tt2' %]
<div id="category-tree">
[% INCLUDE '_category_tree.tt2' %]
</div>
[%- INSERT '_round_corners_bottom.tt2' %]

[%- INSERT '_round_corners_top.tt2' %]
<div id="product-finder-block">
[% INCLUDE '_product_finder_form.tt2' %]
</div>
[%- INSERT '_round_corners_bottom.tt2' %]

