<p>You can search for similar items with ProductFinder (request to eBay takes some time):</p>
[% product_finder_html %]
<p>Or simply continue with <a class="describe" href="/biz/ebay/catchooser2008/index.cgi/describe_item?id=[% selected_category.id %]">Describe Your Item</a> form to enter specifics manually</p>
