<!-- round corners bottom -->
  <div class="s">
    <div class="e">
      <div class="w">
        <img src="/static/images/s.gif" width="1px" height="1px" />
      </div>
    </div>
  </div>
</div><!-- round corners container end -->
