[%- page_title = 'eBay Category Browser' -%]

[%- INSERT '_round_corners_top.tt2' %]
<div id="category-tree">
[%- INCLUDE '_category_tree.tt2' %]
</div>
[%- INSERT '_round_corners_bottom.tt2' %]

[%- INSERT '_round_corners_top.tt2' %]
<div id="suggest-form-block">
[% INCLUDE '_suggest_categories_form.tt2' %]
</div>
[%- INSERT '_round_corners_bottom.tt2' %]
