<%args>
$title
$menu

## nav is a pipe separated field where spot 0 = main tab and spot 1 = pagename. 
$nav => ''
</%args>


<%perl>

## id is used for the div id as well as the icon src

my @products_nav = (
	{ pretty=>"Overview", link=>"/howitworks/", pagename=>"overview"},
	{ pretty=>"Complete Package", link=>"/complete/", pagename=>"complete"},
	{ pretty=>"Webstores", link=>"/howitworks/multiple_online_stores.html", pagename=>"webstore"},
	{ pretty=>"Inventory", link=>"/howitworks/inventory_control.html", pagename=>"inventory"},
	{ pretty=>"Accounting", link=>"/howitworks/accounting.html", pagename=>"accounting"},
	{ pretty=>"Order Processing", link=>"/howitworks/order-processing.html", pagename=>"orderprocess"},
	{ pretty=>"Shipping", link=>"/howitworks/shipping_tracking.html", pagename=>"shipping"},
	{ pretty=>"Wholesale", link=>"/howitworks/wholesale.html", pagename=>"wholesale"}
	);

my @services_nav = (
	{ pretty=>"Graphic Design", link=>"/howitworks/design/", pagename=>"gfx"},
	{ pretty=>"Marketing", link=>"/howitworks/marketing/", pagename=>"mkt"},
	{ pretty=>"Marketplaces", link=>"/services/marketplaces.html", pagename=>"marketplace"},
	{ pretty=>"Comparison Shopping", link=>"/services/comparison-shopping-sites.html", pagename=>"comparisonshop"},
#	{ pretty=>"Technical Support", link=>"/services/technical-support.html", pagename=>"tech"},
	{ pretty=>"Live Training &amp; Support", link=>"/services/live-training-and-tech-support.html", pagename=>"imp"},
	{ pretty=>"Hosting", link=>"/services/hosting.html", pagename=>"hosting"},
	{ pretty=>"Domain Registration", link=>"/services/domain-registration.html", pagename=>"domainreg"}
	);
	
my @clients_nav = (
	{ pretty=>"Case Studies", link=>"/complete/", pagename=>"casestudy"},
	{ pretty=>"Clients", link=>"/complete/", pagename=>"client"},
	{ pretty=>"Testimonials", link=>"/complete/", pagename=>"testimonial"}
	);

my @company_nav = (
	{ pretty=>"Company", link=>"/company/", pagename=>"company"},
	{ pretty=>"Management", link=>"/company/management/", pagename=>"management"},
	{ pretty=>"Employment", link=>"/company/employment/", pagename=>"employment"},
	{ pretty=>"Zoovy News", link=>"/company/news/", pagename=>"znews"},
	{ pretty=>"Press Releases", link=>"/company/pressreleases/", pagename=>"pressrelease"}
	);

</%perl>










<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<!-- BEGIN /includes/header-20110126 (technically, it starts above the doctype, but we want that first ) -->

<html>
<head>
<&| /includes/track.html &></&>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<meta name="verify-v1" content="aA7HWK2Dw+bMEHlbp0D5uJh2YoHgxv0gB3N2ZplTL6U=" />
<meta name="google-site-verification" content="u_9mA-KVIsm6QyYyaT_qejrnuuyILC0X3ErXN-8kY3k" />

<meta name="description" content="" />
<meta name="keywords" content="turnkey ecommerce, turnkey ecommerce websites, ecommerce turnkey, ecommerce solution, e-commerce, ecommerce, e-commerce solution
" />
<title><% $title %></title>


<%perl>
if ($ENV{'SCRIPT_NAME'} eq '/index.html') {
	## we are on the homepage, we will need a slideshow.
	print "<script language='javascript' src='/includes/slideshow-20110126.js' type='text/javascript'></script>";
	}
</%perl>
	
<script type="text/javascript" src="//static.zoovy.com/graphics/general/jslib/scriptaculous-js-1.8.2/lib/prototype.js"></SCRIPT>
<script type="text/javascript" src="//static.zoovy.com/graphics/general/jslib/scriptaculous-js-1.8.2/src/scriptaculous.js"></SCRIPT>
<script type="text/javascript" src="//static.zoovy.com/graphics/general/jslib/scriptaculous-js-1.8.2/src/effects.js"></SCRIPT>


<link rel="stylesheet" type="text/css" href="<% $::BASE %>/includes/header-20110126/styles-20110126.css" />


</head>

<!-- begin body -->
<body style="font-family:Arial, Helvetica, sans-serif; color:#666666; margin:0px; background-color:#ffffffz; background-image:url(<% $::BASE %>/includes/header-20110126/images/body_bg-8x8.gif); " >

<%perl>

## menu and title are required parameters.
if ($menu eq '') {
	print "<h1>NO \$MENU SET</h1>";
	}
if ($title eq '') {
	print "<h1>NO \$TITLE SET</h1>";
	}

</%perl>

<!-- begin body -->

% #print $q->cookie('ZOOVY_LEAD');




<div align='center'>



<div style='background:url(<% $::BASE %>/includes/header-20110126/images/body_bg_horgrad-1435x268.jpg) no-repeat center 149px ;'>
	<div style='background:url(<% $::BASE %>/includes/header-20110126/images/body_bg_horgrad-1x268.jpg) repeat-x 0 149px ;'>
		<div style='width:984px;'>

<div style='background:url(<% $::BASE %>/includes/header-20110126/images/edges-984x1.gif) repeat-y;'>
<table cellspacing='0' cellpadding='0' width='948'>
<tr>
	<td colspan='2'>
	<div style='height:123px; position:relative;'>

<div style='float:left; margin-left:37px; margin-top:32px;'><a href='/index.html'><img src='<% $::BASE %>/includes/header-20110126/images/zoovy_logo-217x61.png' width='217' height='61' alt='Zoovy.com - success driven ecommerce technology' border='0' /></a></div>



<div style='position:absolute; top:25px; left:360px;'><a href="/company/contact/"><img src='<% $::BASE %>/includes/header-20110126/images/newyear_ad-306x86.jpg' width='306' height='86' alt='Call us for our new year deals' border='0' /></a></div>


<div style='float:right; margin-right:37px; margin-top:32px; text-align:right'>
	<div style='font-size:12px;'>

<A href='/company/contact/' class='menu'>Contact</A> | 

<A HREF="#" onClick="new Effect.Appear('loginForm');return false;" class='menu'>Customer Login</A>

	</div>
	<div style='margin-top:7px;'><img src='<% $::BASE %>/includes/header-20110126/images/phone_number-194x22.gif' alt='' width='194' height='22'  /></div>
</div>


<div id='loginForm' style='display:none; position:absolute; top:52px; right:37px; background:#efefef;' class='border'>
<form target="_top" METHOD="post" name="FrmLogin" ACTION="https://www.zoovy.com/login/index.cgi" >
<input type="hidden" name="authenticate" value="true" />
<table cellspacing='3' cellpadding='0'>
<tr>
	<td class='small'>Username:</td>
	<td style='padding-right:5px;'><input value="" type="text" NAME="login" size="15" maxlength="45" class='formed' /></td>
	<td class='small'>Password:</td>
	<td style='padding-right:5px;'><input type="password" NAME="password" size="15" maxlength="25" class='formed' /></td>
	<td><input type='submit' class='button' value=' login ' /></td>
</tr>
<tr>
	<td align='right' class='small' colspan='7'><A href='/recover/'>lost password?</A> | <A href='https://www.zoovy.com/login/'>secure login</A> | <A href='#' onClick="new Effect.Fade('loginForm'); return false;">cancel</A></td>
</tr>
</table>
</form>
</div>

	</div>
	</td>
</tr>


<!-- main navigation -->
<tr>
	<td colspan='2' style='background:url(<% $::BASE %>/includes/header-20110126/images/menu_bg-1x32.gif) repeat-x; height:32px;' align='left'>
	<div style='position:relative; height:32px; '>
		
		<div style='position:absolute; left:-18px; top:0;'><img src="<% $::BASE %>/includes/header-20110126/images/menu_endcap_left-18x32.jpg" width='18' height='32' alt=''></div>
		
		<div style='position:absolute; right:-18px; top:0;'><img src="<% $::BASE %>/includes/header-20110126/images/menu_endcap_right-18x32.jpg" width='18' height='32' alt=''></div>
		
		<div style='margin-left:37px;'>
		
<a href='/howitworks/' title='products'><img src='<% $::BASE %>/includes/header-20110126/images/menu_products-92x32-off.jpg' width='92' height='32' alt='products' id='menu_products' name='menu_products' /></a>

<img src="<% $::BASE %>/includes/header-20110126/images/menu_splitter-5x32.gif">

<a href='/services/' title='services'><img src='<% $::BASE %>/includes/header-20110126/images/menu_services-91x32-off.jpg' width='91' height='32' alt='services' id='menu_services' name='menu_services' /></a>

<img src="<% $::BASE %>/includes/header-20110126/images/menu_splitter-5x32.gif">

<a href='/compatible-integration-review/' title='partners'><img src='<% $::BASE %>/includes/header-20110126/images/menu_partners-98x32-off.jpg' width='98' height='32' alt='partners' id='menu_partners' name='menu_partners' /></a>

<img src="<% $::BASE %>/includes/header-20110126/images/menu_splitter-5x32.gif">
<!--
<a href='/clients/' title='clients'><img src='<% $::BASE %>/includes/header-20110126/images/menu_clients-84x32-off.jpg' width='84' height='32' alt='clients' id='menu_clients' name='menu_clients' /></a>

<img src="<% $::BASE %>/includes/header-20110126/images/menu_splitter-5x32.gif">
-->
<a href='/company/' title='about zoovy'><img src='<% $::BASE %>/includes/header-20110126/images/menu_about-133x32-off.jpg' width='133' height='32' alt='about zoovy' id='menu_about' name='menu_about' /></a>

		</div>
	
	</div>
	</td>

</tr>
<!-- /main navigation -->

<%perl>
## The big banner, which is tightly coupled with the aethetic of the nav, only appears on the homepage.
if ($menu eq "home") {
	print("<tr>
	<td colspan='2'>
	<div style='position:relative; height:270px;'>

<div style='position:absolute; left:-18px; top:0; width:18px;'><img src='/includes/header-20110126/images/home_bannerleft-18x326.jpg' width='18' height='326' alt='' /></div>

<!-- right side image is taller because it covers the upper right corner of the free trial form -->
<div style='position:absolute; right:-18px; top:0; z-index:1000;'><img src='/includes/header-20110126/images/home_bannerright-18x350.jpg' width='18' height='350' alt='' /></div>

<!-- 
slides for the rotator. To add or remove slides, update slideshow-20110126.js file

## NOTE - the absolute positioning on each slide is required in order for the zindex to get adjusted in the slideshow script.

 -->
<div id='slideshowContainer' style='position:absolute; left:0px; top:0; width:948px; height:280px; z-index:1000; overflow:hidden;'>

	<div style=' display:block;position:absolute; left:0px; top:0; z-index:1;' id='slide1'><div>
	<a href='/compatible-integration-review/'><img src='/includes/header-20110126/images/built-in-integrations-950x280.jpg' width='950' height='280' alt='' id='SlideShow' name='SlideShow' /></a>
	</div></div>
	
	<div style=' display:none;position:absolute; left:0px; top:0;' id='slide2'><div>
	<a href='/services/'><img src='/includes/header-20110126/images/design-and-marketing-950x280.jpg' width='950' height='280' alt='' id='SlideShow' name='SlideShow' /></a>
	</div></div>
	
	<div style='display:none;position:absolute; left:0px; top:0;' id='slide3'><div>
	<a href='/complete/'><img src='/includes/header-20110126/images/ecommerce-management-950x280.jpg' width='950' height='280' alt='' id='SlideShow' name='SlideShow' /></a>
	</div></div>
	
	<div style='  display:none;position:absolute; left:0px; top:0;' id='slide4'><div>
	<a href='/services/live-training-and-tech-support.html'><img src='/includes/header-20110126/images/usa-based-support-950x280.jpg' width='950' height='280' alt='' id='SlideShow' name='SlideShow' /></a>
	</div></div>

</div>

<script type='text/javascript'>
//once document has finished loading, start running, run the slideshow after a few seconds (to leave first slide up).
Event.observe(window, 'load', function() {setTimeout('runSlideShow()', 6000);})

</script>
	</div>
	</td>
</tr>
<tr>
	<td style='background:url(/includes/header-20110126/images/news_n_social_bg-1x56.gif) repeat-x bottom; height:56px;' colspan='2'>
	<div style='padding-top:15px; padding-right:20px;'>

<div style='float:right; margin-left:5px;'><a href='http://www.facebook.com/pages/Zoovy-e-Commerce/99488342473/' target='facebook'><img src='//static.zoovy.com/graphics/general/socialb_logos/simple-32x32/facebook-32x32.png' width='25' height='25' alt='friend us on facebook' /></a></div>

<div style='float:right; margin-left:5px;'><a href='http://twitter.com/zoovyinc' target='twitter'><img src='//static.zoovy.com/graphics/general/socialb_logos/simple-32x32/twitter-32x32.png' width='25' height='25' alt='follow us on twitter' /></a></div>

<div style='float:right; margin-left:5px; line-height:25px;'>More News: </div>
	</div>
	</td>
</tr>");
	}
## sublinks, which appear everywhere after the homepage. When no MENU is set, a blank black bar is displayed, for aesthetic reasons.
else{
	print("

<tr>
	<td colspan='2' style='background:url(/includes/header-20110126/images/menu_sublinks_bg-1x28.gif) repeat-x; height:24px;' valign='top'>
	<div style='position:relative; height:24px;'>

		<div style='position:absolute; left:-18px; top:0;'><img src='/includes/header-20110126/images/submenu_endcap_left-18x32.gif' width='18' height='32' alt=''></div>
	
		<div style='position:absolute; right:-18px; top:0;'><img src='/includes/header-20110126/images/submenu_endcap_right-18x32.gif' width='18' height='32' alt=''></div>
<!-- the width needs to be specified on this div because otherwise IE 7 blows chunks. there's a shocker -->	
		<div style='position:absolute; left:37px; top:0px; height:24px; width:905px;' id='subcats'>");
	my @focus_nav;
	my @navdata = split('\|', $nav);

	my $i = 0;
## rather than load 256 million background images, we load 1 image and only show a portion of it
## using css. should be faster because the extra code for it is minimal.
	my $yloc; ## the Y location of the background icon in the bg image.
	my $xloc; ## the X location of the background icon in the bg image.
	my $infocus; ## changes between on and off to set whether the on or off values are set for hover/bg image
	print("
<!--
focusTab = $navdata[0]
focusPage = $navdata[1]
-->
");
	
	if($navdata[0] eq 'products'){
		@focus_nav = @products_nav;
		$xloc = 0;
		}
	elsif($navdata[0] eq 'services'){
		@focus_nav = @services_nav;
		$xloc = 50;
		}
	elsif($navdata[0] eq 'clients'){
		@focus_nav = @clients_nav;
		$xloc = 105;
		}
	elsif($navdata[0] eq 'company'){
		@focus_nav = @company_nav;
		$xloc = 155;
		}
	else{
## no nav is in focus. output a blank bar.
	}


##loop through the array of pages and output the link and icon for each.
	foreach my $navref (@focus_nav) {
		$yloc = $i * 25;
		if($navdata[1] eq $navref->{'pagename'}){
			$infocus = 'on';
			}
		else	{
			$infocus = 'off'
			}
		print("<div style='background:url(/includes/header-20110126/images/nav_icons-179x194-$infocus.png) no-repeat -");
		print($xloc);
		print("px -");
		print($yloc);
		print("px ; width:24px; height:22px; float:left;'></div>");
		print("<div class='catlink_$infocus' style='float:left;'><a href=\"$navref->{'link'}\">$navref->{'pretty'}</a></div>");

		$i++;
		}

		print("</div>
		
	</div>
	</td>
</tr>
<!-- shading for grey horizontal bar beneath nav -->
<tr>
	<td style='background:#7f7f7f; height:4px;'></td>
	<td style='background:#787879; height:4px;'></td>
</tr>");
	}
</%perl>

<tr>
	<td align='left' valign='top'>
	<div id='content' style='position:relative; margin:0 37px; <%perl> if ($menu ne "home") {
	print(" padding-top:20px; ");
	}
	</%perl>'>


% # print Dumper(\%ENV);




<!-- END /includes/header-20110126 -->