/*****************Layout********************/
html {
  height: 100%;
  margin:0; padding:0;
}

body {
  margin:0; padding:0;
  min-width: 551px; width: auto;
  min-height:95%;
  position:relative;
}

* html body {
  height:100%;
}

#body-inner {
  margin-right: auto;
  margin-left: auto;
  width: 551px;
}

#index-block-content {
  height: 150px;
  padding: 0 15px;
}

img {
  border: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0 0 0 8px;
}

#category-tree {
  width: 550px;
  margin: 10px;
  padding: 5px;
}

#category-tree p {
  padding: 2px 0 3px 0;
  margin: 0;
  width:520px;
}

#category-tree h4 {
  padding: 2px 0;
  margin: 0;
}

#category-tree .parent {
  padding: 0 0 0 8px;
  margin: 0;
}

div#add-item-block {
  margin: 10px 10px 15px 15px;
}

form#add-item-form label {
  display: block;
  width: 100%;
  margin: 7px 0 1px 0;
}

#category-specifics {
  margin: 0 0 0 -5px;
}

#product-finder-block,
#search-page-block,
#search-results-block,
#suggest-form-block,
#login-form-block,
#user-block,
#error-block {
  margin: 15px;
}

form#add-item-form div#buttons {
  margin: 10px 0 0 -2px;
  padding: 0;
}

div.found-item {
  position: relative;
  padding: 0;
  clear: both;
}

div.found-item div.counter {
  position: absolute;
  left: 0;
  top: 0;
}

img.stock-photo {
  margin: 0 10px 0 0;
  float: left;
}

div.found-item div.item-details {
  padding: 0 0 0 25px;
  min-height: 90px;
  width: 420px;
}

div.found-item form {
  position: absolute;
  right: 0; top: 10px;
}

div.found-item p {
  margin: 2px 0 0 0;
}

#search-results-block hr {
  height: 1px;
  border: none;
}

body #loading {
  position: absolute;
  left: 49%;
  top: 50%;
  width: 50px; height: 50px;
  padding: 0;
  margin: 0;
}

#custom_specifics {
  margin: -3px 0 0 5px;
}

#custom_specifics a {
  text-decoration: none;
}

#custom_specifics a img {
  margin: 0 4px -2px 0;
}

#custom_specifics input {
  margin: 0 4px 0 0;
  width: 170px;
}

/*****************Fonts********************/
body {
  /*font: Verdana, Arial, sans-serif;*/
	font-family: Georgia, Verdana, Serif;
  font-size: 10pt;
	font-weight: normal;
}

input, textarea, select {
  border: solid 1px #bbb;
}

/****************Colors********************/
body {
  background-color: #fff;
  color: #444;
}

a.category, a.category:visited,
#custom_specifics a, #custom_specifics a:visited {
  color: #00e;
}

span.required {
  color: #d00;
}

#search-results-block hr {
  color: #ccc;
  background-color: #ccc;
}

.error {
  color:#d00;
}
/*****************Misc*********************/

a.category {
  text-decoration: none;
}

li.spacing1 {
  padding-top: 2px;
  padding-bottom: 1px;
}

p.thinner {
  margin: 2px 0;
}
.button {
  cursor:pointer;
  cursor:hand;
}
