<!-- SETUP_TAB -->
<center>
<table><tr><td>

<font face='Arial, Helvetica'>
<form action='paypal.cgi' method="POST">
<input type='hidden' name='ACTION' value='SAVE'>
<input type='hidden' name='MODE' value="PAYPAL">
<center>
<!-- MESSAGE -->

<table width='80%' cellpadding='1'>
<tr><td>
<br>
	<img src="images/paypal_logo.gif"><br>
	<b><font color='red'>Need Help?</font> </b>
	<a target="webdoc" href="http://webdoc.zoovy.com/webmgr/index.php?GOTO=detail/payment-paypal.php">
	Visit the Webdoc section on Paypal Configuration</a>
<br>

</td></tr>
<tr><td bgcolor='336699'><font color='white'><b>&nbsp; Zoovy Checkout Features</b></font></td></tr>
<tr><td>
<i>Note the acceptance policy only applies to ZOOVY CHECKOUT and is independent of Paypal IPN and Paypal Checkout from Cart Page settings.</i>


<br>
	<table>
		<tr>
			<td align='right'>Acceptance Policy:</td>
			<td>
				<select name="pay_paypal" style="font-size: 12px; font-family: arial">
					<option <!-- PAY_PAYPAL_NO_SELECTED --> value="NO">Do not allow customers to choose this payment type</option>
					<option <!-- PAY_PAYPAL_DOMESTIC_SELECTED --> value="DOMESTIC">Allow for United States Destinations Only</option>
					<option <!-- PAY_PAYPAL_ALL51_SELECTED --> value="ALL51">Allow for United States and Canada Destinations Only</option>
					<option <!-- PAY_PAYPAL_INT_LOW_SELECTED --> value="INT_LOW">Allow for United States + Low Risk International Destinations</option>
					<option <!-- PAY_PAYPAL_INT_HIGH_SELECTED --> value="INT_HIGH">Allow United States + Low & High Risk International Destinations</option>
				</select>	
			</td>
		</tr>
		<tr>
			<td align="right"><font face="Arial, Helevetica">PayPal Email:</td>
			<td><input <!-- VALUE_PAYPAL_EMAIL --> type="textbox" name="paypal_email"></td>
		</tr>
	</table>
<br>
<b>Address Verification</b><br>
Paypal will only insure funds for packages which are sent to a PayPal confirmed address. 
Unfortunately many buyers provide Zoovy with a non-PayPal Confirmed, alternative address for shipping.
Zoovy can flag orders which are not being shipped to a verified address and put them in payment status 'REVIEW' instead of payment status 'PAID'.
<table>
	<tr>
		<td align="right"><font face="Arial, Helevetica">Address Verification:</td>
	    <td align="left">
			<select name="PAYPAL_CONFIRM">
				<option <!-- PAYPAL_CONFIRM_ --> value="">Ignore PayPal Addresses</option>
				<option <!-- PAYPAL_CONFIRM_ZIP --> value="ZIP">Confirmed + Zip Match</option>
				<option <!-- PAYPAL_CONFIRM_CITY --> value="CITY">Confirmed + Zip + City Match</option>
			</select>
		</td>
	</tr>
</table>
<br>
NOTE: To have Paypal properly work with Zoovy.com you *MUST* allow Zoovy to transfer shipping values to Paypal.
To enable this: Login to Paypal.com, go to My Account / Profile / Shipping Calculations - and check the box:<br>
[X] Click here to allow transaction-based shipping values to override the profile shipping settings listed above (if profile settings are enabled).
<br>

<table>
<tr><td><input type='image' alt='Save Settings' src='/images/bizbuttons/save.gif' border='0'></td>
<td><a target="_top" href=".."><img border='0' alt='Exit' src='/images/bizbuttons/exit.gif'></td></tr>
</table>

</td></tr>
<tr><td bgcolor='336699'><font color='white'><b>&nbsp; eBay/Paypal Checkout Features</b></font></td></tr>
<tr><td>
<center>
<table><tr><td>
<center>

<table bgcolor='E0E0E0' cellspacing='0' cellpadding='0'>
	<tr><td><b>PAYPAL IPN ORDER CREATION</b></td></tr>
	<tr><td>
<table bgcolor='E0E0E0' cellspacing='4' cellpadding='4'><tr><td>
Your Paypal.com account has a feature called "Instant Payment Notifications" (IPN for short) which sends a notification 
of each payment to a remote program such as Zoovy. Zoovy can use these payment notifications to automatically create orders for customers
who did not use Zoovy Checkout to pay for their order.
<ol>
<li> Login to your Paypal account
<li> Go to Profile, then select Selling Preferences
<li> Select Instant payment Notification 
<li> Click 'edit link' and place the URL "http://paypal.zoovy.com/webapi/paypal/ipn.pl/<!-- USERNAME -->" (without the quotes) into the space provided.
</ol>
</td></tr>
</table>
</td></tr>
</table>
</center>


<br>
<b>Configuration</b><br>
<table>
<tr>
	<td valign="top"><input type="checkbox" name="IPN_1" <!-- IPN_1 -->></td>
	<td valign="top">
		Correlate exact and reasonable matches</b> [RECOMMEND: Yes]</font><br>
	</td>
</tr>
<tr>
	<td valign="top"><input type="checkbox" name="IPN_128" <!-- IPN_128 -->></td>
	<td valign="top">
		Notify me of unknown payments</b> [RECOMMEND: Yes]<br>
	</td>
</tr>
<tr>
	<td valign="top"><input type="checkbox" name="IPN_2" <!-- IPN_2 -->></td>
	<td valign="top">
		Attempt to correlate unknown payments.</b> [RECOMMEND: No]
	</td>
</tr>
<tr>
	<td valign="top"><input type="checkbox" name="IPN_8" <!-- IPN_8 -->></td>
	<td valign="top">Assume everything is a Chinese Listing</b> [RECOMMEND: No]<br>
	</td>
</tr>
<tr>
	<td valign="top"><input type="checkbox" name="IPN_4" <!-- IPN_4 -->></td>
	<td valign="top">
		Create phantom orders for unknown items</b> [RECOMMEND: No]<br>
	</td>
</tr>
<tr>
	<td valign="top"><input type="checkbox" name="IPN_32" <!-- IPN_32 -->></td>
	<td align="right">
		DO NOT Automatically change orders shipping location to the confirmed address [RECOMMEND: No]
	</td>
</tr>
<tr>
	<td valign="top"><input type="checkbox" name="IPN_256" <!-- IPN_256 -->></td>
	<td valign="top">
		Audit shipping</b> [RECOMMEND: No]<br>
	</td>
</tr>
<tr>
	<td valign="top"><input type="checkbox" name="IPN_512" <!-- IPN_512 -->></td>
	<td valign="top">
		Process promotions</b> [RECOMMEND: No]<br>
	</td>
</tr>
</table>
</td></tr></table>
<br>

<table>
<tr>
	<td valign="top"><input type="checkbox" name="paypal_checkout" <!-- PAYPAL_CHECKOUT -->></td>
	<td valign="top">
		<b>Allow PayPal Checkout from Cart Page</b> [RECOMMEND: Yes]<br>
		This allows your customers to bypass the Zoovy checkout and use PayPal's checkout instead.
		Shipping through the PayPal system will be sent as whatever the quoted shipping is in the cart,
		so you should enable "Cart Quote Shipping" in the Checkout Properties area of Setup.  Note that we
		currently do not ask for the country in the cart so enabling this is not recommended if you ship
		international orders (they will be quoted as $0.00 shipping (Actual cost to be determined).
		Also note that promotional rules which create discounts in the cart will also not work with this
		feature...  the PayPal system does not allow Zoovy to send negative-priced shopping cart items
		to thier system.

	<b>YOU MUST ENABLE THIS FEATURE, ALONG WITH THE IPN FEATURE IF YOU WANT TO BUYERS TO QUALIFY FOR PAYPAL INSURANCE, OR YOU ONLY WANT TO ACCEPT PAYMENTS FROM VERIFIED ADDRESSES.</b>
	</td>
</tr>
</table>
</center>
<Br>

<table>
<tr><td><input type='image' alt='Save Settings' src='/images/bizbuttons/save.gif' border='0'></td>
<td><a target="_top" href=".."><img border='0' alt='Exit' src='/images/bizbuttons/exit.gif'></td></tr>
</table>

</td></tr></table>

</center>
</form>
</td></tr></table>
</td></tr></table>
</center>

<!-- FOOTER -->