<%args>
$title
$menu
</%args>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<&| /includes/track.html &></&>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="verify-v1" content="aA7HWK2Dw+bMEHlbp0D5uJh2YoHgxv0gB3N2ZplTL6U=" />
<meta name="description" content="Zoovy makes selling online easy with turnkey ecommerce websites.  Manage channels, comparison shopping, inventory, orders, multiple stores and more from one interface." />
<meta name="keywords" content="turnkey ecommerce, turnkey ecommerce websites, ecommerce turnkey, ecommerce solution, e-commerce, ecommerce, e-commerce solution
" />
<title><% $title %></title>

<script language='javascript' src='<% $::BASE %>/includes/slideshow.js' type='text/javascript'></script>
<script type="text/javascript" src="http://static.zoovy.com/graphics/general/jslib/prototype.js"></SCRIPT>
<script type="text/javascript" src="http://static.zoovy.com/graphics/general/jslib/scriptaculous/scriptaculous.js"></SCRIPT>
<script type="text/javascript" src="http://static.zoovy.com/graphics/general/jslib/scriptaculous/effects.js"></SCRIPT>
<link rel="stylesheet" type="text/css" href="<% $::BASE %>/includes/header/styles.css"><style type="text/css">


</style>

% print "<!-- SCRIPT: $ENV{'SCRIPT_NAME'} -->";
% if ($ENV{'SCRIPT_NAME'} eq '/index.html') {
<!-- BEGIN HOMEPAGE FLASH -->
<script type="text/javascript">
function MM_CheckFlashVersion(reqVerStr,msg){
  with(navigator){
    var isIE  = (appVersion.indexOf("MSIE") != -1 && userAgent.indexOf("Opera") == -1);
    var isWin = (appVersion.toLowerCase().indexOf("win") != -1);
    if (!isIE || !isWin){  
      var flashVer = -1;
      if (plugins && plugins.length > 0){
        var desc = plugins["Shockwave Flash"] ? plugins["Shockwave Flash"].description : "";
        desc = plugins["Shockwave Flash 2.0"] ? plugins["Shockwave Flash 2.0"].description : desc;
        if (desc == "") flashVer = -1;
        else{
          var descArr = desc.split(" ");
          var tempArrMajor = descArr[2].split(".");
          var verMajor = tempArrMajor[0];
          var tempArrMinor = (descArr[3] != "") ? descArr[3].split("r") : descArr[4].split("r");
          var verMinor = (tempArrMinor[1] > 0) ? tempArrMinor[1] : 0;
          flashVer =  parseFloat(verMajor + "." + verMinor);
        }
      }
      // WebTV has Flash Player 4 or lower -- too low for video
      else if (userAgent.toLowerCase().indexOf("webtv") != -1) flashVer = 4.0;

      var verArr = reqVerStr.split(",");
      var reqVer = parseFloat(verArr[0] + "." + verArr[2]);
  
      if (flashVer < reqVer){
        if (confirm(msg))
          window.location = "http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash";
      }
    }
  } 
}
</script>
<!--
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
-->
<script type="text/javascript">
function MM_CheckFlashVersion(reqVerStr,msg){
  with(navigator){
    var isIE  = (appVersion.indexOf("MSIE") != -1 && userAgent.indexOf("Opera") == -1);
    var isWin = (appVersion.toLowerCase().indexOf("win") != -1);
    if (!isIE || !isWin){  
      var flashVer = -1;
      if (plugins && plugins.length > 0){
        var desc = plugins["Shockwave Flash"] ? plugins["Shockwave Flash"].description : "";
        desc = plugins["Shockwave Flash 2.0"] ? plugins["Shockwave Flash 2.0"].description : desc;
        if (desc == "") flashVer = -1;
        else{
          var descArr = desc.split(" ");
          var tempArrMajor = descArr[2].split(".");
          var verMajor = tempArrMajor[0];
          var tempArrMinor = (descArr[3] != "") ? descArr[3].split("r") : descArr[4].split("r");
          var verMinor = (tempArrMinor[1] > 0) ? tempArrMinor[1] : 0;
          flashVer =  parseFloat(verMajor + "." + verMinor);
        }
      }
      // WebTV has Flash Player 4 or lower -- too low for video
      else if (userAgent.toLowerCase().indexOf("webtv") != -1) flashVer = 4.0;

      var verArr = reqVerStr.split(",");
      var reqVer = parseFloat(verArr[0] + "." + verArr[2]);
  
      if (flashVer < reqVer){
        if (confirm(msg))
          window.location = "http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash";
      }
    }
  } 
}
</script>
<script type="text/javascript">
function MM_CheckFlashVersion(reqVerStr,msg){
  with(navigator){
    var isIE  = (appVersion.indexOf("MSIE") != -1 && userAgent.indexOf("Opera") == -1);
    var isWin = (appVersion.toLowerCase().indexOf("win") != -1);
    if (!isIE || !isWin){  
      var flashVer = -1;
      if (plugins && plugins.length > 0){
        var desc = plugins["Shockwave Flash"] ? plugins["Shockwave Flash"].description : "";
        desc = plugins["Shockwave Flash 2.0"] ? plugins["Shockwave Flash 2.0"].description : desc;
        if (desc == "") flashVer = -1;
        else{
          var descArr = desc.split(" ");
          var tempArrMajor = descArr[2].split(".");
          var verMajor = tempArrMajor[0];
          var tempArrMinor = (descArr[3] != "") ? descArr[3].split("r") : descArr[4].split("r");
          var verMinor = (tempArrMinor[1] > 0) ? tempArrMinor[1] : 0;
          flashVer =  parseFloat(verMajor + "." + verMinor);
        }
      }
      // WebTV has Flash Player 4 or lower -- too low for video
      else if (userAgent.toLowerCase().indexOf("webtv") != -1) flashVer = 4.0;

      var verArr = reqVerStr.split(",");
      var reqVer = parseFloat(verArr[0] + "." + verArr[2]);
  
      if (flashVer < reqVer){
        if (confirm(msg))
          window.location = "http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash";
      }
    }
  } 
}
</script>
<script type="text/javascript">
function MM_CheckFlashVersion(reqVerStr,msg){
  with(navigator){
    var isIE  = (appVersion.indexOf("MSIE") != -1 && userAgent.indexOf("Opera") == -1);
    var isWin = (appVersion.toLowerCase().indexOf("win") != -1);
    if (!isIE || !isWin){  
      var flashVer = -1;
      if (plugins && plugins.length > 0){
        var desc = plugins["Shockwave Flash"] ? plugins["Shockwave Flash"].description : "";
        desc = plugins["Shockwave Flash 2.0"] ? plugins["Shockwave Flash 2.0"].description : desc;
        if (desc == "") flashVer = -1;
        else{
          var descArr = desc.split(" ");
          var tempArrMajor = descArr[2].split(".");
          var verMajor = tempArrMajor[0];
          var tempArrMinor = (descArr[3] != "") ? descArr[3].split("r") : descArr[4].split("r");
          var verMinor = (tempArrMinor[1] > 0) ? tempArrMinor[1] : 0;
          flashVer =  parseFloat(verMajor + "." + verMinor);
        }
      }
      // WebTV has Flash Player 4 or lower -- too low for video
      else if (userAgent.toLowerCase().indexOf("webtv") != -1) flashVer = 4.0;

      var verArr = reqVerStr.split(",");
      var reqVer = parseFloat(verArr[0] + "." + verArr[2]);
  
      if (flashVer < reqVer){
        if (confirm(msg))
          window.location = "http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash";
      }
    }
  } 
}
</script>
<!-- END HOMEPAGE FLASH -->
% };


</head>

<!-- begin body -->
<body style="font-family:Arial, Helvetica, sans-serif; color:#666666; margin:0px; background-color:#2F3C40; background-image:url(/includes/homepage-20100503/page_background.gif); background-repeat:repeat-y; background-position:center" 
<%perl>

## menu and title are required parameters.
if ($menu eq '') {
	print "<h1>NO \$MENU SET</h1>";
	}
if ($title eq '') {
	print "<h1>NO \$TITLE SET</h1>";
	}

if ($ENV{'SCRIPT_NAME'} eq "/index.html") {
	## Flash is required on homepage.
	print(qq~onLoad="MM_CheckFlashVersion('7,0,0,0','Content on this page requires a newer version of Adobe Flash Player. Do you want to download it now?');"~);
	}
elsif ($menu ne "home") {
	## On the homepage, we don't have the slideshow.
	print("onLoad='runSlideShow();' menu=$menu");
	}
</%perl>
>
<!-- begin body -->
<div align="center">
<div style='width:774px; position:relative;'>
% #print $q->cookie('ZOOVY_LEAD');
<div style='position:absolute; right:5px; top:5px; width:360px; height:50px; background-color:#C8D8EC; border:1px solid #2461AA; padding:1px; z-index:1000; display:none; ' id='loginForm'>
<form target="_top" METHOD="post" name="FrmLogin" ACTION="https://www.zoovy.com/login/index.cgi" >
<input type="hidden" name="authenticate" value="true" />
<table cellspacing='3' cellpadding='0'>
<tr>
	<td class='small'>Account ID:</td>
	<td style='padding-right:5px;'><input value="" type="text" NAME="login" size="15" maxlength="45" class='formed' /></td>
	<td class='small'>Password:</td>
	<td style='padding-right:5px;'><input type="password" NAME="password" size="15" maxlength="25" class='formed' /></td>
	<td><input type='submit' class='button' value=' login ' /></td>
</tr>
<tr>
	<td align='right' class='small' colspan='7'><A href='/recover/'>lost password?</A> | <A href='https://www.zoovy.com/login/'>secure login</A> | <A href='#' onClick="new Effect.Fade('loginForm'); return false;">cancel</A></td>
</tr>
</table>
</form>
</div>

<table cellspacing='2' cellpadding='0' width='774' style="background-color:#FFFFFF; height:100%;">
<tr>
	<td style='height:55px;'><div style='margin-left:32px;'><A href='/index.html'><img src="<% $::BASE %>/images/zoovy/zoovy_logo-170x41.gif" height="41" width="170" alt="Zoovy.com" border="0"></A></div></td>
	<td align='right' style="font-size:8pt;" NOWRAP>
	<div style='margin-right:32px; font-size:8pt;'>
	<img src="<% $::BASE %>/includes/header-20090707/phoneandbookmark-291x19.gif" alt='call toll free: 1.877.966.8948' width="291" height="19" border='0' usemap="#Map" style='margin-bottom:5px;'>
% # print Dumper(\%ENV);
<map name="Map" id="Map">
<area shape="rect" coords="0,-2,19,18" href="http://www.facebook.com/home.php#/pages/Zoovy-e-Commerce/99488342473" target="blank" alt="Zoovy on FaceBook" />
<area shape="rect" coords="23,-6,41,18" href="http://digg.com/submit?phase=2&amp;url=<%perl> print "http://".$ENV{'SERVER_NAME'}.$ENV{'SCRIPT_NAME'}; </%perl>" target="blank" alt="Zoovy at Digg" /><area shape="rect" coords="43,-5,60,18" href="http://www.stumbleupon.com/submit?url=www.zoovy.com&title=hosted e-commerce solutions" target="blank" alt="Zoovy at StumbleUpon" />
<area shape="rect" coords="109,-15,125,17" href="http://www.zoovy.com/biz/rss/news.cgi/proshop/RSQMAN.rss" target="blank" alt="Zoovy RSS" />
<area shape="rect" coords="66,-6,83,17" href="http://delicious.com/save" onclick="window.open('http://delicious.com/save?v=5&amp;noui&amp;jump=close&amp;url='+encodeURIComponent(location.href)+'&amp;title='+encodeURIComponent(document.title),'delicious','toolbar=no,width=550,height=550'); return false;" target="Blank" alt="Zoovy at Del.ico.us" />
<area shape="rect" coords="88,-18,104,18" href="http://www.twitter.com/zoovyinc" target="blank" alt="Zoovy on Twitter" />
</map><br>
<A href='/company/contact/' class='menu'>Contact</A> | <A HREF="#" onClick="new Effect.Appear('loginForm');return false;" class='menu'>Customer Login</A>
	</div>
  </td>
</tr>
<tr>
	<td colspan='2' style="background-color:#F0F0F1; height:2px; border-top:1px solid #E4E4E5;"><img src='<% $::BASE %>/images/blank.gif' height='2' width='1' alt='' border='0'></td>
<tr>
	<td colspan='2' valign='top'><div align='center'>

<%perl>
## on the homepage, no table is output.
if ($menu eq "home") {
	print("
	<div style='width:710px; text-align:left; padding-top:8px;'>");
	}
else	{
	print("
	<div style='width:710px; text-align:left;'>
	<table cellspacing='0' cellpadding='0' width='710'>
	<tr>
		<td valign='top' style='background-image:url(<% $::BASE %>/images/zoovy/content_shadow-479x362.gif); background-position:right bottom; background-repeat:no-repeat; border-box; height:300px;'>");
	}
</%perl>
